[2014-01-07 02:16] mattdelacdev opened #1 "Add iPad support"
Maybe have look at hammer.js library: https://github.com/EightMedia/hammer.js/wiki/Getting-Started

Apparently it can detect drag start, so maybe they made a cross device version of it.

Also throught of modernizer, that can replace touch gesture by click.

[2014-01-14 07:30] webalys opened #2 "Using this scrolling component to solve the problem?"
https://github.com/pazguille/scrolling

As it's a MIT license, it's possible to get the part of the code we need. if it's useful.

[2014-01-21 07:24] #2 closed, assigned to nobody

[2014-01-21 18:35] hayeswo opened #3 "Jquery Issue in wordpress"
I'm getting an issue with this plugin in wordpress 3.8 using jquery 1.10.2.
I'm getting this message in google developer tools console:
Uncaught TypeError: Cannot set property "jackInTheBox' of undefined.
And of course it isn't working. Thanks for your help, and I appreciate your efforts!.

[2014-01-26 13:15] Randore opened #9 "animation trigger"
Hi, I just wanted to know whether are there any trigger events written for the box animations on window scroll or just the animation of boxes from both side on load?

I don't understand, if this works just like scrollorama or http://vbarthel-fr.github.io/scroll-based-animation/demo

[2014-01-29 08:31] sylouuu opened #11 "Where is the changelog?"
Hello,

I don't see any changelog. Could you provide it and/or use GitHub release feature: https://github.com/matthieua/jackInTheBox/releases/new?

Bests

[2014-01-30 14:48] attilaolah opened #14 "Update the readme file"
Since the plugin is not disabled on mobile devices any more.

I'll reword the readme, this is just a remirder for myself so I don't forget about it.

[2014-01-30 14:59] #9 closed, assigned to nobody

[2014-01-30 15:06] #3 closed, assigned to nobody

[2014-01-30 15:26] #14 closed, assigned to nobody

[2014-02-02 11:01] sylouuu opened #20 "Support hover trigger"
Sometimes you want trigger animation on mouseover.

It could be nice to set another CSS class to know when doing the animation.

Example:

[code]

[code]

Or whatever. Otherwise you need to do something like:

[code]

It sads to do this while jackIntheBox is loaded.

Bests

[2014-02-02 12:41] #1 closed, assigned to nobody

[2014-02-02 12:45] mattdelacdev opened #21 "Show visible elements on resize."
We only take care of the `scroll` event, we should consider supporting when the window gets resized.

[2014-02-02 14:34] #21 closed, assigned to nobody

[2014-02-02 18:02] sylouuu opened #23 "Use data-wow-* namespace to avoid conflicts"
Could be nice, if you are using others libs with data-offset, data-delay, etc...

Bests

[2014-02-03 04:37] #23 closed, assigned to nobody

[2014-02-03 04:37] mattdelacdev opened #24 "Add unit / integration tests"
There's no tests at the moment, we should add some high level ones at least.

[2014-02-03 07:38] mattdelacdev opened #27 "Remove global animation settings"
JavaScript should not overwrite the CSS if not asked for it. We have to remove to global settings on delay, duration and iteration so the it doesn't overwrite the CSS.

Only when a `data-wow-*` attribute is present, the CSS should be overwritten

[2014-02-03 07:50] #27 closed, assigned to nobody

[2014-02-03 12:10] #24 closed, assigned to nobody

[2014-02-05 03:17] mattdelacdev opened #30 "Animations in Firefox don't show up properly"
No idea why this is happening. I think @attilaolah has an idea.

[2014-02-05 03:19] #30 closed, assigned to nobody

[2014-02-05 12:21] #11 closed, assigned to nobody

[2014-02-05 12:26] #20 closed, assigned to nobody

[2014-02-06 04:17] kivlor opened #32 "Shouldn't the source be written in dogescript??"
Just sayin...

[2014-02-06 05:12] #32 closed, assigned to nobody

[2014-02-06 17:31] contempoinc opened #33 "Flash on initial load then animates"
Is there a way to prevent the flash on initial load as you can see here:

http://wp.contempographicdesign.com/wp_hyperion/?cat=2

I know its caused by the dom not being loaded then it hits the JS and loads the animation, but is there a way around this? Noticed your demo site doesn't have that issue.

Cheers,

Chris

[2014-02-06 17:52] #33 closed, assigned to nobody

[2014-02-06 20:48] plisvb opened #34 "Animations on Mobile"
Great script.

Is there anyway to disable the animations on mobile devices?  I'd rather have no animations for users with a screen width of 800px or below for example.

Thanks a lot

[2014-02-07 01:25] lukechesser opened #35 "Support for Events"
Awesome work with this.

What are your thoughts on adding event emitters? I hacked on my own so that I could easily hook into specific animation callbacks, but it isn't pretty. I wonder if other people would find that helpful.

[2014-02-09 20:51] sylouuu opened #40 "Does not work on document ready?"
[code]

No animation.

[code]

It's ok.

Why?

Bests

[2014-02-10 16:04] jacoborus opened #42 "Bower package is not working (or not published)"

[2014-02-11 14:07] #42 closed, assigned to nobody

[2014-02-12 07:29] #40 closed, assigned to nobody

[2014-02-12 08:00] #35 closed, assigned to attilaolah

[2014-02-14 20:12] Randall-Glass opened #46 "WOW.js will only show animation one time on scrolling past it"
When you scroll past a animation and scroll back up past it, it will not do a animation again, when you scroll up past it.

I would like it so every time, you scroll past the animation, it does the animation.

[2014-02-18 01:25] jeffcorey opened #47 "Mobile animations only triggered when user stops scrolling"
Great library everyone. I am really loving it so far. I did notice one small issue. Currently on mobile the animations are only triggered when the user stops scrolling. Any way to fix this? If not is there a quick solution to disabling all together only on mobile screen sizes? Thanks

[2014-02-20 10:20] pnpetroff opened #48 "Scrolled element doesn't appear on refresh"
Hi, great plugin! Using it at the moment for my project and definitely will continue using it in the future!

I stumbled on a little problem. When and element somewhere down the page is scrolled into view, it appears as it should, no problems so far, but when I refresh the page (the viewport is not reset at the top of the page), the element is in the viewport but it doesn't appear until I scroll a

[2014-02-26 11:56] pseudonymus opened #49 "WOW compatibility problems with Isotope.js"
Hi,

Amazing plugin!
However, I`m having hard times trying to make it work with Isotope.js plugin( https://github.com/desandro/isotope ). The initial JackInTheBox version worked perfectly, but it seems that this one is not agreed by Isotope. Any thoughts?

Thanks!

[2014-03-03 07:06] #34 closed, assigned to mattdelacdev

[2014-03-03 07:07] #47 closed, assigned to nobody

[2014-03-03 07:09] #49 closed, assigned to nobody

[2014-03-03 07:12] #46 closed, assigned to nobody

[2014-03-05 02:21] RainierMallol opened #51 "Page gets wider once the animations occur."
After testing my web-app on a mobile device, I noticed that a white empty space appeared on the right. I went to my site in a browser, and found out that once I scroll, the scrollbar in x appears.

After some time looking for the problem, I removed Wow.js and it worked how it was supposed to. I went to http://mynameismatthieu.com/WOW/index.html and noticed it happens in the page of this project as

[2014-03-05 02:47] #51 closed, assigned to nobody

[2014-03-06 12:48] sherifsaleh opened #53 "horizontal scroll bar on Chrome windows"
U have got an css bug with the horizontal scroll  bar

if u apply overflow hidden to .container ? and set the container width to 100% ?

[2014-03-12 10:35] meszarosrob opened #54 "horizontal website"
is it somehow possible to modify/adjust/extend wow.js to add the .animated class when the element is in the view for horizontal scroll websites?

[2014-03-19 05:15] MoOx opened #56 "Option to use data-wow-* only when wow reveal elements"
Is it possible already (or easily) to only use options like data-wow-delay when WOW reveal an element during a scroll event only (not for initial render) ?
For example I'm building an page where depending on the screen size, you can get 3 elements animated by default if you have enough screen size. Currently my 3 elements have different delays to don't make all the things appear in the same time (

[2014-03-29 13:18] mattdelacdev opened #58 "Animations don't trigger on IE9"
Someone [reported](https://twitter.com/kevanmacgee/status/449640178534334464) that animations are not working on IE9.

[2014-04-08 14:47] Novakinify opened #59 "Just a little suggestion :D"
How about creating ability to reverse animations on scrollUp. That would be great i think...

[2014-04-17 09:49] sylouuu opened #61 "WOW doesn't work with "One Page Scroll" plugin"
Hi @matthieua,

I dunno if you can make something about this.

I tested One Page Scroll: https://github.com/peachananr/onepage-scroll by @peachananr

And WOW is not triggered. Elements are not recognized in the viewport, apparently. Then, elements are always hidden.

Bests

[2014-04-20 11:26] #59 closed, assigned to nobody

[2014-04-20 11:27] #58 closed, assigned to nobody

[2014-04-20 11:30] #54 closed, assigned to nobody

[2014-04-20 11:30] #48 closed, assigned to nobody

[2014-04-20 11:33] #53 closed, assigned to nobody

[2014-04-20 11:39] #56 closed, assigned to nobody

[2014-04-21 07:16] #61 closed, assigned to nobody

[2014-04-23 14:22] maxsteenbergen opened #62 "background"
Sorry, don't know what went wrong there.

[2014-04-23 14:22] #62 closed, assigned to nobody

[2014-04-24 20:20] Davabgaryan opened #63 "data-wow-delay by default"
Is it possible to set data-wow-delay for all wow animations?
Something like this:

[code]

[2014-05-06 13:59] lu3do opened #64 "wow.js removes background from animated element"
I have a few elements with "background-image:url(blablabla)", but it seems that wow.js removes the background css from these elements.

I now have to add a separate child <div> with the background to a animated <li>

[2014-05-07 12:01] #64 closed, assigned to nobody

[2014-05-07 12:09] #63 closed, assigned to nobody

[2014-05-07 20:13] mparker11 opened #65 "Use with any scrollable div"
It seems like the code only takes into account a scrollable window. Could we use this on any scrollable div container? Like focusing only on elements inside `<div id="myDiv"></div>` and make them  animate?

[2014-05-08 23:35] ghost opened #66 "Not working in Firefox"
First: thank you a lot for this great work.
I did exactly what was told in the instruction in the documentation page BUT it is not working in Firefox. even the demo page:http://mynameismatthieu.com/WOW/ is not working. the demo page in downloaded files doesn't work too.  it works fine in chrome, opera, and even IE.but not in Firefox 29.0 ! can you tell me what to do to make work fine?

[2014-05-09 10:04] #66 closed, assigned to nobody

[2014-05-09 19:15] jcatania opened #67 "Item not showing in Firefox"
http://pump-attendant-vivian-22031.bitballoon.com/

It doesn't seem like "visibility:hidden" is being swapped over to "visible" upon the SVG's entering the viewport when using Firefox. Works just fine in Chrome. I've updated to the newest version with no luck.

[2014-05-10 09:45] attilaolah opened #68 "Do not use Dataset for SVG elements"
I've introduced a change in [0.1.7](https://github.com/matthieua/WOW/releases/tag/0.1.7) where I store the `animationName` on the `dataset` property of the DOM element. We can't do that in Firefox until [#921834](https://bugzilla.mozilla.org/show_bug.cgi?id=921834) is fixed.

This is somewhat related to #67.

[2014-05-10 11:00] #67 closed, assigned to attilaolah

[2014-05-10 11:00] #68 closed, assigned to attilaolah

[2014-05-11 15:53] wishmylove opened #69 "OSX Firefox problem"
Something wrong with WOW.js in Firefox (mac ver. 29). All animation running very fast and no screen detection.

[2014-05-12 09:08] #69 closed, assigned to attilaolah

[2014-05-12 18:37] Davabgaryan opened #70 "Animate on load"
Hi.

First, sorry for my bad English...

Now I'm working with website, where I need to combine wow.js with flexslider. In most of cases slider is already being displayed, so I need to animate first slider's caption on load. Now wow.js is doing it randomly. Once it animates on load, once on scroll, after page loaded.

P.S. In both cases scrolltop is 0.

Thanks.

[2014-05-13 03:43] tomasdev opened #71 "Support for Asynchronous content"
What about a `.reinit()` or similar method to let wow.js know there are some new elements to watch?

[2014-05-13 13:08] lggwettmann opened #72 "Wow stopped working in Chrome and IE"
Hey guys,

first of all thanks for the great js-plugin. I used it tremendously on my site and I love the easy of use and customisation options while being light weight.

Just as it still works in Safari, the wow-animations on my page http://new.circlerotterdam.nl/start (the ones when you scroll down, the navbar is animated without wow) worked also in Chrome and IE. But since a few weeks WOW stoppe

[2014-05-14 14:13] #72 closed, assigned to attilaolah

[2014-05-16 06:13] ghost opened #73 "Init creates horizontal scroll"
It seems in some cases when initializing the script there is a padding being added to the right of the content, creating a horizontal scroll. Haven't been able to pinpoint what exact cases that cause this but it seems to relate to having elements positioned relative and / or fixed with a 100% width. This happens in Chrome and Safari, but in Firefox it only seems to add extra space that matches the

[2014-05-20 10:17] zoltanseer opened #75 "Fixed background"
On init() removes the background if the `background-attachment` is set to `fixed`. (On divs without `.wow` class, too). Any ideas?

[2014-05-20 10:32] #75 closed, assigned to nobody

[2014-05-22 21:01] robbieobbie opened #76 "Chrome / Opera conflict issue"
Hi guys,

Love the script, I use it all the time.

I am having some trouble figuring out why wow.js is disabling some background images on my site, only in Chrome and Opera. Works perfectly in Firefox and Safari. I've used this script many times before so I am assuming this is a conflict.

If this is something you can spot immediately and help with I would greatly appreciate some advice.

http://h

[2014-06-13 16:55] tomshaw opened #77 "Bower"
How do you install this with bower?

[2014-06-16 10:26] #77 closed, assigned to nobody

[2014-06-25 23:02] danxshap opened #78 "Is height:100% required for the html tag?"
My animations are triggered instantly on page-load (even if the elements are not visible and need to be scrolled down to see) when I don't have `height: 100%` applied to the html tag.

Seems like in `WOW.prototype.isVisible` it is calculating `viewBottom` based on `this.element.clientHeight` and that value changes significantly depending on whether or not I have `height: 100%` on the html tag (`th

[2014-06-26 16:36] danxshap opened #79 "mobile:false option seems to break AngularJS form submission"
Not sure if this is a WOW-Angular-specific issue or more general, but if I init the library with `mobile:false` then my form's submit button does not run my AngularJS form validation and instead just automatically submits the form. If I remove `mobile:false`, it works fine.

[2014-06-29 14:26] #71 closed, assigned to mattdelacdev

[2014-06-29 14:49] #70 closed, assigned to attilaolah

[2014-06-29 14:56] #76 closed, assigned to attilaolah

[2014-07-01 01:46] arudrakalyan opened #80 "How to make animation to be trig every time it reaches the scroll position."
I want animation to be trig every time when it reaches the position. As of now its showing only for the first time. Can any one help me.

thanks in advance.

[2014-07-01 15:51] #80 closed, assigned to nobody

[2014-07-01 22:01] phillypro opened #81 "wow.js affects a separate divs fixed background"
when i use wow....it works great

but a div on another part of the page gets its background taken away....and it only happens when the divs background attachment is set to fixed

[2014-07-02 06:58] #81 closed, assigned to nobody

[2014-07-06 18:56] drakal1986 opened #83 "Query Loader 2 + WOW.js"
Hi. I am using Query Loader 2 (http://gayadesign.com/scripts/queryLoader2/) to preload images on my site. It shows progres bar and when its finished, it opens the page. My problem is that wow.js animations are played during that progres bar and when my page opens nothing happens. I really dont know much about java, but is there any way of playing my animations after the page is fully loaded, like

[2014-07-08 00:54] enriqg9 opened #84 "WOW and Isotope Overlapping"
I am having a similar issue with WOW and Isotope. First I initialize Isotope with masonry, then after the images are loaded using imagesLoaded as Desandro suggests I trigger "layout" to prevent overlapping (http://isotope.metafizzy.co/appendix.html#imagesloaded).

If WOW is loaded apparently it creates a conflict with the position of the elements, and they overlap.

[Example with WOW](http://inmun

[2014-07-08 01:21] #79 closed, assigned to attilaolah

[2014-07-08 17:05] Mazzy71 opened #85 "Aniamtion from the top issue"
Hi,
is it possible to start animation (like bounceInDown or similar) from specified position instead top of the page (ex. element bouncing down from 50% of browser height)?

[2014-07-09 07:18] #85 closed, assigned to attilaolah

[2014-07-10 00:44] #83 closed, assigned to attilaolah

[2014-07-10 06:21] ghost opened #86 "Conflict with Revolution Slider"
Very strange issue, but if you install on the same page wow.js and revolution slider, you're gonna get the following error when using a particular slide effect on the latter:

TypeError: a.getElementsByClassName is not a function

This happens when using a text effect like "data-splitin="words" or "data-splitin="chars" in any caption you may place on a slide.

Will report this to the RS team as we

[2014-07-11 03:40] SyedWasiHaider opened #87 "Loads everything on page load"
Hey Matthieu,

First off thank you for this library. I am new to the whole web dev scene so please bare with me.

I am generating content using php and then using your "wow" class to animate the row divs. You can have a look at the page here: http://wasi.byethost24.com/browse.php

The page above doesn't have wow.js yet as I am testing locally but I just wanted you to be able to see the page.

The

[2014-07-16 01:09] visualdensity opened #89 "Height Issues"
Hi there,

Thanks for the awesome lib! Seems like I'm experiencing some issues with the way wow calculate height in Chrome (Mac OS 10.9.3). Doesn't exhibit the same issue in Safari or Firefox.

Current build
http://resie.com.au.s3-website-ap-southeast-2.amazonaws.com/

Pointers appreciated.

Thanks!

[2014-07-16 07:00] #89 closed, assigned to nobody

[2014-07-16 09:40] iremlopsum opened #90 "Animated content is not displayed"
I decided to try out wow.js and everything seems to work locally (except the background issue, but I'll manage to work this out on my own).

Problems started when I uploaded everything to the server. None of the content that should be animated is displayed (example: http://www.matteos.gr/bitback).

Is this me doing something horribly wrong or is it a bug?

Thanks in advance.

PS! It's a project in

[2014-07-16 09:45] #90 closed, assigned to nobody

[2014-07-16 10:35] iremlopsum opened #91 "div loses it's background"
I thought i will be able to combat this problem myself, but I'm at the end of my wits here.

If you do the following for a div:

[code]

And I have to add the min-height because otherwise it simply defines 100% as completely nothing, meaning 0px. I would hate to use min-height, because I have a lot of fluid content and the 100% is more than important for me for different screen sizes.

Here's the

[2014-07-17 08:21] #91 closed, assigned to nobody

[2014-07-25 21:16] ahgz7 opened #93 "Insert animate.css with bowerInstall"
Hey,
In bower.json file, add animate.css so it would be injected automatically when using grunt bowerInstall.

Or, is there a better way I don't know about?

Regards

[2014-07-26 21:42] #93 closed, assigned to nobody

[2014-07-29 22:40] #86 closed, assigned to nobody

[2014-07-29 22:41] #87 closed, assigned to attilaolah

[2014-07-29 22:59] #73 closed, assigned to attilaolah

[2014-08-05 08:21] t-prod opened #97 "wow fadeInLeft do nothing"
Hello,

Thanks for your script. I have an issue when I try an other effect fadeInLeft for instance.
No transition (fade) is done and my assets are loaded.

Is there any effects that are unavailable ?

Thanks for your help,

Regards

[code]

[2014-08-05 08:24] #97 closed, assigned to nobody

[2014-08-08 02:52] MetCreative0 opened #98 "Delay and Visibility"
Hi,

I'm trying to use delay on items with flipInY but when I do so, item becomes visible before animation. Can you check it please?

Thanks.

[2014-08-08 22:01] #98 closed, assigned to attilaolah

[2014-08-13 12:40] lekobarros opened #99 "Bug after the end of the page!"
Hello, okay? I correctly installed WOW on my wordpress but it has a bug at the end of the page. It doubles in size and becomes blank after the end of the original HTML, I take the files from WOW is back as was usually the html.

[2014-08-14 10:23] DonDi1989 opened #100 "Wow on load"
Hi, in one of my websites i use wow.js. At the divs where i add class "wow" i make them with opacity 0 and everything works fine. But when i click to reload page and i change the browser tab, when i return back nothing is shown. Then i need to reload again the page and to wait until it is loaded. How can i resolve this problem ?

[2014-08-15 18:48] Ridilla opened #102 "Percents for offsets?"
Would it be (or is it) possible to use percents for offsets rather than pixel values? This would play a lot nice with windows of varying sizes.

[2014-08-22 14:31] Snoop opened #103 "Submit to jsDelivr"
Please add to the popular http://www.jsdelivr.com/ CDN.

[2014-08-22 15:55] #103 closed, assigned to attilaolah

[2014-08-25 00:36] DonDi1989 opened #104 "Destroy event for WOW"
Is there any destroy function for WOW ?

[2014-08-25 07:52] #104 closed, assigned to attilaolah

[2014-08-25 07:54] attilaolah opened #105 "Deactivate the MutationObserver in .stop()"
To make sure there are no references or leftover closures once WOW is `stop()`ped. As mentioned in #104.

[2014-08-28 13:24] ErhanBasa opened #106 "check scrolltop for mobile platforms"
Hi,
i'm trying on the iPad but is waiting for the completion of stop scroll moving. Please test it on iPad.

[2014-08-29 06:59] #99 closed, assigned to nobody

[2014-08-29 16:41] plantita92 opened #108 "Animate after animate"
Sorry for my english.
I would like to do something like this http://landerapp.com/
As you see when the page is loaded the animation starts (that's easy), then when i scroll down, the current slide animates again to pass to the next slide. how can i "re-animate" the same elements of the current slide?

[2014-09-01 09:23] DonDi1989 opened #109 "Call wow.init()"
I need to call script after page loader, i call wow.init() after loader is finished. The wow elements in start are visible and then wow effects takes place. I need elements to be hidden then after i call wow init to show them. Is there any solution here ?

[2014-09-01 09:26] #109 closed, assigned to mattdelacdev

[2014-09-02 16:00] Sinmok opened #112 "Nothing happens in IE9."
Nothing happens in IE9. I'm using WOW version 1.0.1

I've tried setting live: true and also calling wow.sync(), but no animations take place.

Also tried using a MotionObserver polyfill with no luck.

[2014-09-04 07:08] #108 closed, assigned to attilaolah

[2014-09-04 08:49] #100 closed, assigned to attilaolah

[2014-09-08 07:23] jaldesai opened #114 "mobile: false, yet the plugin stays active on iPad"
I don't want the plugin to activate itself on mobile devices so I set the mobile parameter to false. But the plugin stays active on iPad. I suppose 'iPad' is already in the list of mobile-devices in the plugin's code. Am I doing something wrong?

[2014-09-11 14:43] meta4creations opened #115 "wow.js + animate.css + Vimeo Fullscreen issue"
Full screen Vimeo videos get hidden behind the site (or hidden somewhere) when wow.js is active and used with animate.css

Granted this could also stem from a combination of these 2 things plus my theme (I have yet to figure out what is happening with my testing), but if I disable either wow.js or animate.css the issue goes away.

[2014-09-17 06:55] HugoHeneault opened #116 "Block-level animations with parent container"
Wow. This tool is awesome.

But... There is a little thing that bother me : animations are triggered when blocks appears on the screen, and are delayed so.

Imagine you have this elements :

[code]

When the `1.5s` and `2s` div will appears on screen, I have to wait 2 secs before they animate.
This could be painful, because user (on mobile, for example) will only see an empty screen.

It should be

[2014-09-17 15:35] eloisemonteiro opened #117 "WOW working local but not online"
Hi, I'm working with wow in my project and on my local test works perfectly but when I upload not at all... well, actually works just in one div, if you check the 404 page you will see:

http://eloisemonteiro.hol.es/

[2014-09-17 15:48] #117 closed, assigned to attilaolah

[2014-09-18 15:58] ptejeda1 opened #118 "Elements flicker at times"
Some elements like a style <a> button first load with page then flickers off to show animation..Only seem to happen with styled buttons.

[2014-09-24 18:27] Ataurr opened #119 "mobile false not working"
hi
i have tried to off effect but its not working

[code]

i have tried with android mobile
can you please check. why its not working on mobile device.

Thanks in advance

[2014-09-25 07:22] shipley714 opened #120 "Using pulse reveals corner of images with border-radius"
When using wow.js with animate.css to make an item "pulse", it makes my images have corners when they normally have a border-radius from a parent element with overflow:hidden to keep them cropped. It effects images after the element with the class. Any ideas? If there is more needed to help , please let me know what I need to provide.

Screenshots:
![screenshot 2014-09-25 00 16 57](https://cloud.g

[2014-09-26 09:22] ingeniumdesign opened #121 "wow and search engine sites?"
hi,
I have a question:

there are problems with search engines?
If the content continues to be found by search engines right?
the contents are set to start on hidden?

thanks,
basti

[2014-09-28 09:50] wishmylove opened #122 "Random repeats"
I have experienced a problem. The WOW animations sometimes randomly repeating themselves (safari, chrome) when the page loading. It is very annoying. When I remove the wow.js file and use only the animate css the problem disappearing. There is any solution to fix this problem currently?

Thank you very much!

[2014-09-30 06:07] Capellaro opened #123 "Blurred Images on Firefox"
Hi :)

First of all, thank you for that awesome library !

I have a problem on my firefox browser though (v 32.0.3). I have images that appear one by one when scrolling the page. It is working nicely on Chrome, but on firefox, images are like "blurred" after the animation. And when I remove the classes 'animated wow fadeIn' using the browser console, the image is not blurred anymore. Here is how I

[2014-10-01 09:02] #121 closed, assigned to attilaolah

[2014-10-01 19:25] korgroup opened #124 "Attempting to import and having no luck with animations"
created ticket with incorrect github account.

[2014-10-01 20:01] #124 closed, assigned to nobody

[2014-10-01 20:02] jodriscoll opened #125 "Issues with functionality and importation"
JavaScript file is linked properly, animate.css is linked properly, class styles have been applied to the element.

I saw the element being updated within the DOM by the JavaScript as well as the CSS association being correct, however, my elements are just not animating at all...

Within the next 5 or so minutes, you should see an example at: kor.com/willamette

If anyone, and I mean anyone, can h

[2014-10-01 20:54] #125 closed, assigned to attilaolah

[2014-10-01 20:56] jodriscoll opened #126 "Associate "wow" and "effectName" with element instead of hardcoding it into the said element"
I have a parent element that I was specific children to inherit the effects of WOW and animate.css, however, I feel having the class association is a bit messy and was wondering if I could target child elements within a parent?

**Example:**
    `<div class="wrap">
        <h4>Title</h4>
        <p>Body</p>
        <ul><li>List Item</li></ul>
    </div>`

Instead of applying `class="wow slideInLef

[2014-10-05 03:24] meowsha opened #127 "WOW element is not visible in IE8"
Hello, Matthieu,
As I understood from your manual, WOW is not supposed to be working with IE8. But it would be nice if page displayed correct.
This problem can be solved by using a conditional comment. But I'm not sure it is the best way.

[2014-10-09 18:53] nemanjaradevic opened #128 "Repeat the effect every time you scroll"
I am trying to get this worked ... i set data-wow-iteration="infinite" but this just bounce in my tittle for left all the time.... i want to trigger to bounce in whenever i scroll up or down

so on the way scrolling down it works perfectly, when i scroll up it stops animating. What can i add to do this?

[2014-10-09 19:58] nicoworq opened #129 "Fixed Position problem"
Hi ! I'm having problems when i try to use an fixed top bar, and animating any of the elements of the bar.

I have to scroll to top to start the animation.

if i'm in the middle of the page, i have to go to top to start the animation.

Thanks !

Great plugin !

[2014-10-23 14:40] yogiben opened #131 "Trouble with async"
Using MeteorJs and async not working.

Any tips?

[2014-10-23 18:27] mikaelcedergren opened #132 "Don't animate already visible elements"
First of all - I love the script. :) But I'd like to turn off the animation on elements that already is showing in the viewport. Is this possible and if so how?

[2014-10-23 18:50] #132 closed, assigned to nobody

[2014-10-28 19:50] BeekeeperAlex opened #133 "Asynchronous element detection does not work if there is not at least one wow element already on the page at the time you call init."
I've finally chased down a bug I've been fighting with in my Angular app and narrowed it down to a bug in WowJS.

If you call `new WOW().init()` and there is at least one element with the `wow` class on the page at that time, then adding new `wow` elements to the page works just fine.
### [Working demo.](http://codepen.io/Chevex/pen/kHqsF)

If you call `new WOW().init()` and there are **_no**_ `wo

[2014-10-28 21:18] #106 closed, assigned to mattdelacdev

[2014-10-28 21:20] #102 closed, assigned to nobody

[2014-10-28 21:21] #122 closed, assigned to nobody

[2014-10-28 21:22] #123 closed, assigned to nobody

[2014-10-28 21:24] #128 closed, assigned to nobody

[2014-10-28 21:26] #118 closed, assigned to nobody

[2014-10-28 21:47] #133 closed, assigned to nobody

[2014-10-29 01:58] mikkelradicke opened #135 "header-glitch when combining with bigSlide.JS"
HI :)

I really love this plugin, it works like a charm, although i'm finding a small glitch in my fixed header when i scroll the page . I am unsure wether it's the bigSlide.js or it's the WOW.js that's causing the trouble, but i am sure that they work apart . The problem i am facing is the two SVG's i'm using in my header either disappears or jumps around the screen like flea's, and i have absolu

[2014-10-29 16:56] BeekeeperAlex opened #136 "IDEA: Hide elements that scroll out of view."
In some cases I think it would be really cool to be able to tell wow to hide elements that scroll out of view. Maybe a separate class name like `wow-hide` or something like that. I have a good example on a page I maintain for a non-profit organization called Paw Project.

http://pawproject.org/faq

The FAQ page animates elements in as you scroll. It would be cool if as soon as the elements scroll

[2014-11-03 11:43] jnartey opened #137 "pulse effect buggy in windows browsers"
Page always jumps to the top on each animation while scrolling in windows browsers

[2014-11-05 13:34] Csabbencs opened #138 "WOW draws some faulty graphics in Firefox near animated elements"
In some Firefox, when 'hardware acceleration is enabled, if possible' is set in settings, WOW draws some faulty graphics near animated elements.
It happens even in your page, check my screenshot:
i.e.:
- top line between 'How to use' and 'Github'
- left from 'Reveal', right from 'Friend :)'
  ![wow-firefox-screen2](https://cloud.githubusercontent.com/assets/188775/4918259/5717670e-64ef-11e4-888e-9

[2014-11-05 13:54] #138 closed, assigned to nobody

[2014-11-12 19:50] fredkelly opened #139 "svg elements remain hidden"
Apologies if this has been answered before - I couldn't find anything relating to this problem after a bit of Googling.

I'm trying to add the `.wow` class to `<g>` elements containing inside `<svg>`, I'm finding that they are remaining hidden and the `visibility: hidden` property is never removed. I know there are some problems manipulating svg with jQuery, for example those solved by `jquery.svg

[2014-11-13 14:32] uraimo opened #140 "Enhancement: Chaining secondary animations with events"
Hi, i've been playing around with wow.js, and i was trying to do something like [this](http://codepen.io/simoami/pen/zstvo) on a div that was fading in from the left using WOW.
That terminal animation (that uses typed.js) needed to be delayed until the div was reached and wow applied the requested animation (i guess it's impossible to know programmatically when the animation ends).
I've implemente

[2014-11-16 06:20] masood11 opened #141 "IPAD jerking animation"
Im getting jerky animations on my IPAD, can you tell me which version i need to use to avoid it. Send me the link. Pls.the problem is displaying elements first, then the animate starts.

[2014-11-17 13:59] simondoescode opened #142 "Disable WOW.js on IE8"
Is there a way to disable WOW.js on IE8?

[2014-11-17 14:53] #142 closed, assigned to attilaolah

[2014-11-18 07:43] Elancore opened #143 "Mobile?"
What about mobile devices? I tried it on my Android, doesn't work.

[2014-11-18 20:02] tsirilson opened #144 "Sometimes the animation plays only after the page loaded"
Hi,

I'm using the plugin for a long time already but I noticed on one of my websites that sometimes the animation doesnt play right away and the pages loads before the animation starts (of course, I'm talking about already visible elements), so it causes a flickering-like animation.

To simplify my gibberish: An element loads (become visible), then the animation is applied.

Here's a development

[2014-11-27 11:55] pareshsojitra opened #145 "on next slide, animate effect is working in chrome but working in firefox"
- I'm using firefox latest version(33.1.1).
- I'm using wow effect with animate.min.css & superslides
- next slide, animate effect is working in chrome but not working in firefox

I'm Using Libraries :
    - wow.min.js (WOW - v1.0.2 - 2014-10-28)
    - animate.min.css
    - jquery.superslides.min.js (Superslides - v0.6.3-wip - 2013-12-17)
- Working in Safari 5.1.7(7534.57.2)
- Working in Chrome (V

[2014-11-27 12:48] #145 closed, assigned to nobody

[2014-11-28 15:52] #144 closed, assigned to nobody

[2014-11-30 01:10] rickmacgillis opened #146 "WOW makes smooth scrolling flicker"
First, I want to say that it's awesome that you built WOW.js. It's perfect for what I need, but I just have one issue with it. WOW.js makes my smooth scrolling flicker no matter how I implement smooth scrolling and my guess is that it's due to the event.preventDefault() not being allowed to execute properly. The code below is the simplest implementation of smooth scrolling I've tried.

[code]

[2014-12-18 08:28] #143 closed, assigned to nobody

[2014-12-28 14:09] #146 closed, assigned to nobody

[2015-01-05 15:11] VerySoong commented on #136
:heavy_plus_sign: :one: It will be great to have this :metal:

Ideally is to have the animation options to hide/fade/slide out the elements in opposite directions when they are out of view. Otherwise, a simple fade out (like setting a default) for all wow animation is :thumbsup: too

[2015-01-08 08:59] alvarotrigo commented on #61
It will work in [fullPage.js](https://github.com/alvarotrigo/fullPage.js) if you use it with the option `scrollBar:true` or if you use `autoScrolling:false`.

[2015-01-13 04:41] Nunnsy commented on #136
Great idea :+1: as animate.css already has the functions built in, just need a way of triggering them, perhaps with an offset of its own so the user can see it fade away?

[2015-01-14 11:18] ErhanBasa opened #148 "Can I use it on other elements?"
I use custom scrollbar on the body element. But it's create parent div element. Therefore, i can't observed body scrollTop. Can i use wow.js on alternative parent div? Is it possible?

[2015-01-14 11:28] attilaolah commented on #148
Currently not, see #65.

[2015-01-14 11:28] #148 closed

[2015-01-14 14:25] malykh commented on #129
Same problem here. Can anyone respond to that issue? Thanks

[2015-01-14 14:43] nlug opened #149 "Add Callback function"
Dear,

I'm really like your project. It helps my website a lot. But I think your project is missing something called callback. Can you add this? I mean one or more function will happen when the animation finish.
I'm waiting for that change. I hope this project will be more and more useful for people like me.
Thank you so much.
Sincerely.

[2015-01-14 15:12] #149 closed

[2015-01-20 23:48] lsemenenko opened #150 "Element visible before animation delay is finished."
I'm having an issue where the element is displayed instantly instead of adhering to the delay time.

Basically I have a h1 element with a 2 second duration and 2 second delay. As soon as the element is in view the visibility class changes to visible. Then, 2 seconds later it plays the animation. From what I understand this element should be hidden during the 2 second delay, then visible once the a

[2015-01-21 13:34] roikles commented on #150
This seems to be to do with the 'offset' property. In your javascript initialisation try removing `offset: 100` (or whatever value it is set at).

[2015-01-22 19:18] allanalexandre commented on #136
+ 1.. Good guys, I believe it would be great to have this implemented in reality, would act as the ' reset ' property of the plugin (scrollReveal.js).

< div date-sr = "enter bottom and scale up 20% over 2s reset" > Foo </div>

bringing the wow.js, could be more or less like this:

< div class = "wow animated fadeInX reset" > Foo </div> or [data-reset="true"]

is it possible to have this implement

[2015-01-23 06:16] jameswlane opened #151 "Animate keeps keeps firing"
I am adding WOW.js and Animate.css to a site I been working on. But I ran into what may be a bug. WOW keeps firing and adding animate to the element for every time I scroll. That seems like a very unwanted. Could you please give me some advice how I can get it to only fire once on a element.

Here is a video of the site and source.

https://www.dropbox.com/s/6qhjo1nd9wtdril/screencast_2015-01-23_0

[2015-01-28 19:39] paulunstech commented on #136
This is something I've been trying to crack for some time, but I have not been able to find an answer, since I am not a programmer or an extensive coder...

I have experience with Superscrollorama, http://johnpolacek.github.io/superscrollorama/, which is awesome, it uses Greensock animation, but it's very time consuming and heavy. WOW is just simple and easy... so.... PLEASE - how can this feature

[2015-01-29 18:18] dangnelson commented on #65
+1 for this...

[2015-02-01 09:57] barrylachapelle commented on #136
I +1 this heavily and completely agree with @paulunstech I just spent a bit trying to removing classes with a callback. I think it might take a lot more than this though. WOW would need to have an offsettop param.

Mathieu this addition would blow WOW right up.

[2015-02-02 06:52] rogerdehe opened #152 "I think you animate.css in your demo is out of date"
the code as follow:

    <div class="wow fadeInLeft" data-wow-delay="0.15s">

it has different effect between the `animate.css` in your repository and `animate.css` in [animate repository](https://raw.githubusercontent.com/daneden/animate.css/master/animate.css).

Maybe you should update this.

[2015-02-02 08:32] matthieua commented on #152
Hi @rogerdehe, what do you mean exactly? `data-wow-delay` is optional attribute.

[2015-02-02 12:29] louisbichard opened #153 "Angular initialisation"
First off, the plugin is AWESOME!

Is there an official method to initialise the library within an angular route?

All I can find is [this thread](http://stackoverflow.com/questions/24047906/initialize-wow-js-inside-angular-js), however all of the solutions don't seem to work.

Does anyone have any suggestions?

[2015-02-03 08:05] rogerdehe commented on #152
@matthieua I mean `animate.css` repository has update his `animate.css` file, in consideration of your `wow` depends on this file, you should update this file too. Your [animate.css](https://github.com/matthieua/WOW/blob/master/css/libs/animate.css) is updated a year ago, but the last [animate.css](https://github.com/daneden/animate.css/blob/master/animate.css) is updated 6 months ago.

The key po

[2015-02-04 03:57] sheadawson commented on #136
+1. That is all :D

[2015-02-05 15:23] jamielovelace commented on #136
much +1, very yes

[2015-02-10 02:26] clarklab commented on #84
Still having this problem, though possibly in a slightly different way.

On load masonry works just fine, the items animate into place, but things get wonky when you resize the browser. The items don't reposition into the new available space. Without wow.js everything works fine.

Anyone figure out a fix?

[2015-02-10 17:43] zoheiry commented on #120
@fricke That was really helpful Thank you :D

[2015-02-11 15:43] djanaweb commented on #112
Hi,

I'm having a similar problem in IE9 none of the images show.

In the console it says : MutationObserver is not supported by your browser.
WOW.js cannot detect dom mutations, please call .sync() after loading new content.
_gambitImageParallaxImages1[object Object] .
Can you please tell me how to solve this?

Thank you

[2015-02-11 16:46] TimDHolley opened #154 "Lag on page load"
I'm having an issue where, when I first load my page, the objects that i'm animating are appearing then dissapearing as they should before wow is then in effect.  Tried a few different things but not sure what the issue is.  this can be seen at this link. http://79.170.44.98/saublesmartsolutions.com/

[2015-02-11 16:48] TimDHolley commented on #154
Should also note, this doesnt happen when viewing it locally, just when on the web.

[2015-02-11 18:09] TimDHolley commented on #154
Fixed my issue by putting visibility: hidden on all the items I didn't want loading.

[2015-02-11 18:09] #154 closed

[2015-02-12 09:23] johanhermansson opened #155 "AMD and CommonJS support"
Would be sweet with AMD and CommonJS support for Browserify :) The UMD method is nice https://github.com/umdjs/umd

[2015-02-13 00:39] ShaunGuarini commented on #119
Isn't xpeeder confusing animate.css with wow?

Should mobile false stop animations all together or should it only stop the wow reveal part (offset, delay, etc.).

[2015-02-13 14:09] designorant commented on #142
Here's a shorter way for those who don't want to use Modernizr:

[code]

[2015-02-13 14:14] designorant commented on #127
Wow, there are some crazy workarounds here.

See #142 for [two a bit more elegant solutions](https://github.com/matthieua/WOW/issues/142#issuecomment-66859152).

[2015-02-13 22:42] cjmosure commented on #142
CSS3 animation doesn't seem to be supported by IE9, see http://caniuse.com/#feat=css-animation, so maybe use ``

[2015-02-14 04:19] danygiguere opened #156 "Make it happen only once !!"
I would not consider it a bug. I'm using Isotope to filter elements (each within it's own wow div classes). When I click to filter the elements, the wow animations get triggered again. I could I get the wow animation triggered only once (on scroll and not again after isotope filtering) ?

[2015-02-15 22:11] Hirbod commented on #156
Simple workaround would be to remove .wow and the classes after you've inited isotope to prevent reanimations.

[2015-02-15 22:14] Hirbod commented on #112
@djanaweb
Is your content loaded trough ajax or injected to DOM? If yes, it will only work in IE10+.
(others Grade A Browsers will perform well :))
And the error message is really clear imho.

If you are in <IE10 you need to call the sync() function. If your not injecting content, then it is indeed a bug.

[2015-02-19 19:56] iaakash opened #157 "Not Working on Mobile"
Visibility remain hidden on smaller screens as if it's not detecting the scroll position.

[2015-02-20 08:10] micrdy opened #158 "Mobile Chrome triggers animations only after scroll stop"
On desktop and mobile safari all works nice but not on mobile chrome. I think chrome does render the scrolling different?

When I scroll down, the content blocks should appear with a fade effect. But instead, it appears only if the scrolling has completely stopped. In mobile Safari the effect shows up, when the block is entering the viewport. This is correct.

Is there any workaround for showing t

[2015-02-21 17:37] nostahl opened #159 "bootstrap modal and wow.js do not play nicely together"
As soon as the modal is opened  all the animations fire.

If I add a delay to the animations I can scroll down and see they all fire at same time.

[2015-02-23 10:20] titos2k commented on #136
+1

[2015-02-24 14:11] Concept211 opened #160 "Offset global setting prevents footer elements from firing"
When you set the global offset property at, let's say 200px and then you have animated elements near the bottom of the page that's under the 200px mark, it causes those elements to never animate.

[2015-02-24 21:00] edonbajrami opened #161 "wow animation when body scroll top is bigger than 0"
Hi

Example if you have to scroll in website and click on a product, when you want to revert back the last page will not start scroll from 0 but last scrolltop position. In this case, upper elements are not show and is not looking good. Is there any option to remove this one ?

[2015-02-26 22:46] abukwaik commented on #136
+1 too really cool idea!

[2015-03-03 15:40] colinory commented on #84
I've the same problem here. It doesn't work when I use the animation fadeInUp. When I only use fadeIn it works perfectly...

[2015-03-04 15:12] eloisemonteiro opened #162 "Wow not working when I use position absolute"
Hello, morning.
I'm trying to animate this object in my page, it works perfectly on my desktop, but on my phone and tablet when I use position absolute to align the object in the scenario it stops working, you can check here: http://www.gaianet.com.br/Teste

I'm also using fullpage.js in there. I'm stuck at this since if I remove the position:absolute of my class it works fine on mobile.

Cheers i

[2015-03-04 20:39] FredSarmento commented on #136
+1

[2015-03-06 13:01] modstudio opened #163 "position resets after adding an extra :hover animation"
I'm adding an extra :hover to my class,
however it fires off, but resets automatically when finshed.

(Example scss)
[code]

i wish for it to stick until i loose focus, when i remove my WOW js init, this is the desired behavour.

[2015-03-06 13:07] modstudio commented on #163
ok, i've solved my problem, could this be considered a bug?

[code]
should it automatically stop any animations after finished? or would this be an animate.css issue?

[2015-03-08 18:15] LeonHaker opened #165 "ReferenceError: WOW is not defined"
i followed the instructions on http://mynameismatthieu.com/WOW/docs.html
and it is not working, i put <script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script> in head

[2015-03-08 18:16] #165 closed

[2015-03-09 09:04] der-krueger commented on #136
+1

[2015-03-09 15:54] Seppentoni commented on #159
+1

[2015-03-09 16:31] Seppentoni commented on #159
Just found the fix. Don't append the wow class to the body.

[2015-03-09 20:33] boshevski commented on #115
We had the same problem at Storj.io and fixed it by removing the wow animation class on the Vimeo wrapper. https://github.com/Storj/storj.io/commit/e0e73745b4915186014f156d2915bc115018066f

[2015-03-10 18:20] jrmlstf commented on #129
Same problem too.

I wrote a quick fix but it isn't tested at all. When each box is checked if it isVisible, I call a isPositionFixed function that will check if the box has at least an ancestor which is position fixed. If yes, then I assume that the element is visible so I return true.

Here is the code :

[code]

[2015-03-11 18:00] darknailblue commented on #162
I am having a similar problem.  While using fullpage.js, the animation work on the first slide, however none of the subsequent slides.  Is there a way to MANUALLY trigger WOW after it is loaded?

[2015-03-11 18:21] darknailblue commented on #162
Okay... after playing with this for a bit, I've found a temporary work around...

In the fullpage JS you'll have to add a call back to MANUALLY trigger the animation.  NOTE: This is rough but, it works for now and can even be modified to work with WOWs data attributes.

so the PART of the fullpage JS you'll have to add looks like such...

[code]

[2015-03-13 22:58] identy commented on #112
Hi,

I'm having a similar problem in Android Mobile [Cordova] backbone.

[2015-03-16 17:35] scatory commented on #61
devsite.bardstownbourbon.com causing issues on older versions of safari. Any fixes?

[2015-03-17 14:21] mdeboer commented on #156
Remove the default Isotope's transitions so your items get appended instantly. Make sure they're hidden once appended. Add the wow class to your appended items and listen for the apropriate animationend and/or transitionend events on those elements. Once that event triggers remove the wow class from those elements. This way they'll only animate once.

Never tested this with WOW but I have done sim

[2015-03-17 14:41] mdeboer commented on #151
It is hard to tel by your video what's going on but I guess it's caused by another script in your page that forces a complete reflow, I would recommend trying to replicate the bug in a smaller environment (jsfiddle / codepen). If you're more of a debugger you can try to trace every event that's triggered when scrolling and see what's causing it by setting breakpoints. If you got access to the them

[2015-03-17 14:46] mdeboer commented on #141
Problem with the elements displaying and then animating is probably caused by 'animation-fill-mode' not being set to 'both'. What version of animate.css are you using and more important, what browser are you using?

It might very well be that your browser does not support hardware acceleration like @fricke mentioned. Has the thread he linked to fixed the problem for you?

[2015-03-17 14:48] masood11 commented on #141
Thanks for your reply, The problem has been resolved.

On Tue, Mar 17, 2015 at 5:46 PM, Maarten <notifications@github.com> wrote:

--

--
Mohammad MasoodWeb Designer <#SafeHtmlFilter_> <#SafeHtmlFilter_>
<#SafeHtmlFilter_> <#SafeHtmlFilter_>M +966 532 145 317|T +966 11279
2043 Connect
with usF +966 11288 6447|P.O.Box 250704 Riyadh 11391 |KSA
<https://www.facebook.com/Brainstormin.communications>
<

[2015-03-17 16:45] mdeboer commented on #163
Afaik it's a WOW 'issue' as it doesn't remove the animated class once the animation is complete. For now use your fix, I'll see if I can fix this and I'll do a pull request.

Would you mind giving it a spin when I fixed it? :+1:

[2015-03-17 16:46] modstudio commented on #163
ok thansk, and of course :)

[2015-03-17 17:14] sonamtsutsatsang opened #166 "WOW.js cannot detect dom mutations, please call .sync() after loading new content."
Hi,
I have been using wow.js and i really do appreciate all the work that's been put in to.
My Java script skills are not the best, so please pardon my silly question.

Currently using on a site and it works fine on all browsers, except IE9 which gives the error:
WOW.js cannot detect dom mutations, please call .sync() after loading new content.
So i read about this: -  you can call the wow.sync()

[2015-03-17 17:56] mdeboer commented on #163
@modstudio please see my commit / pull request. Should have fixed your issue. I tried removing the animated class after animation has ended in my browser first, after that hovering with a transform worked correctly so now I included it in WOW.

https://github.com/mdeboer/WOW/commit/8aca072d0df3a68b7fb0760a9e4a2db5a23c56ca

[2015-03-17 21:00] mdeboer commented on #161
What browser are you using? It's up to the browser to restore the state of the previous page including visibility of elements and javascript.

One way to probably "fix" that is to have WOW check whether the user has scrolled or not. If not then display all elements above (not below as they work just fine). Not sure if that happens already...

[2015-03-18 07:47] modstudio commented on #163
Great. Works fine. It's funny becauses that error only shows up in Safari on my system.. Firefox seems figure it all out... thanks for the quick fix!

[2015-03-18 07:47] #163 closed

[2015-03-19 14:36] mdeboer commented on #166
In normal browsers Wow automatically detects changes to the DOM like when elements are added dynamically through an AJAX call or elements changed position. IE9 doesn't support this way of detecting changes and you need to call wow.sync manually which re-checks the page for changes to ensure everything is working correctly.

If you're not adding things dynamically (like with AJAX) then you'll be fi

[2015-03-19 14:39] sonamtsutsatsang commented on #166
Thank you very much. Makes sense to me now.

Much appreciated.

[2015-03-19 14:43] mdeboer commented on #160
Well that's because those elements need to be at least 200px in view to animate, as expected. If I'm correct you rather see all elements being animated when at the bottom?

I can imagine unless you set a "bottom margin" things would animate all of a sudden but only when you reach the ultimate bottom of the page. A "bottom margin" would probably be needed to be implemented to trigger all leftover t

[2015-03-19 14:55] mdeboer commented on #166
You're welcome!

[2015-03-19 15:22] Concept211 commented on #160
Yes, that's correct - when you reach the very bottom of the window all left over elements should animate.

The whole purpose of setting the offset is to show enough of the elements so that users can actually see and appreciate the animations, which is great. However, the downside is that those items at the very bottom of the page will never fire because the offset is never reached.

I wouldn't wan

[2015-03-20 12:55] mdeboer commented on #160
You're welcome!

With bottom margin I actually meant the bottom triggering offset. Say, "trigger all leftover animations when x pixels above the bottom of the page.". Because sometimes people don't scroll all the way down 0 px from bottom but instead end up say 10px above the bottom. It'll be optional though and default to 0, but I have to play with that.

[2015-03-20 13:07] Concept211 commented on #160
You're right - I totally see what you mean. I didn't think of that (people not fully hitting the bottom edge). Let me/us know whenever you have an updated.

Love the script, btw -- major time saver!

[2015-03-20 21:17] vinniejames commented on #112
Having the same problem. wow.sync(); did not help ):

[2015-03-22 07:32] iamjonatha opened #167 "Repeat animation"
I would like to make an animation fire again (each time the element becomes visible).
Is there a way to do that?
I've tryed to remove "animated" class by javascript but that's not enough

[2015-03-22 19:50] DjSunrise opened #168 "Animted many times on up scrolling and bottom strolling"
How can I make infinitely animation instead 1 time ?

[2015-03-23 09:15] attilaolah commented on #167
Currently the only way to do that is to create another `new WOW().init()`. Note that this will also re-animate the currently visible items on the page.

[2015-03-23 09:15] #167 closed

[2015-03-23 09:40] attilaolah commented on #168
You mean animate again when the user scrolls back? See #167.

If you just want to kick off an animation once the item becomes visible and keep animating it, set [`animation-iteration-count: infinite`][1].

[1]: //developer.mozilla.org/en-US/docs/Web/CSS/animation-iteration-count

[2015-03-23 09:40] #168 closed

[2015-03-23 09:47] Nishant-Rana opened #169 "Flickring on Chrome"
Navigation on the top is flicker when is scroll the page after i scroll once the page on chrome , i am using bootstrap, parallax please look on this ulr and help me outoff this. Here is the url:http://www.onebcg.com

[2015-03-23 10:01] attilaolah commented on #169
This is a known Crome issue.

An easy work-around is:

[code]

(Any `transform` or `-webkit-transform` that ends with `3d` works).

[2015-03-23 10:01] #169 closed

[2015-03-23 10:54] Nishant-Rana commented on #169
Thanks for you support attilaolah its working fine now.

[2015-03-27 05:49] mvanleest opened #170 "infinite loop (iteration)"
It would be nice to be able to create a never ending animation with the setting data-wow-iteration="-1".
This is useful for the pulse animation for instance.

Or am I missing a setting?

[2015-03-27 05:56] mvanleest commented on #170
Never mind! providing "infinite" did the trick...

[2015-03-27 05:56] #170 closed

[2015-03-27 08:29] attilaolah commented on #170
Yep, and [here's why][1].

[1]: //developer.mozilla.org/en-US/docs/Web/CSS/animation-iteration-count#Syntax

[2015-03-27 22:39] yosemite-windows opened #171 "reset animation upon out of view"
when combining this wiith animate.css,  can it allow an loop option ?

[2015-03-27 22:48] yosemite-windows commented on #136
Yes an option to rewind any animation set by animate.css would be wonderful !

[2015-03-29 10:36] attilaolah commented on #171
Not yet. See #167 and #168.

If you mean infinite animation iteration, see #170.

[2015-03-29 10:36] #171 closed

[2015-03-29 19:57] pojka commented on #65
+1

[2015-03-29 20:28] pojka commented on #65
Found a sneaky workaround based upon https://github.com/matthieua/WOW/issues/162#issuecomment-78337643

This solution appears to trigger all animations instantly, however in combination with https://github.com/zeusdeux/isInViewport it can be slightly modified to enable scrollable divs to operate in the same manner as a scrollable window.

Install the plugin, or roll your own `inViewport` element d

[2015-03-30 07:04] vinayak5192 commented on #127
To disable Wow on IE8 or any other IE browsers what I did is >
make conditional css file for particulat IE
also create conditional IE for Div and copy the div in it and remove wow classes.
On original div assign class ( any)  and in IE css make the div display none.

Your Conditional IE Div will be visible and div with wow class will be hidden in IE.
Longcut but that worked for me.

[2015-03-30 07:04] vinayak5192 commented on #142
To disable Wow on IE8 or any other IE browsers what I did is >
make conditional css file for particulat IE
also create conditional IE for Div and copy the div in it and remove wow classes.
On original div assign class ( any)  and in IE css make the div display none.

Your Conditional IE Div will be visible and div with wow class will be hidden in IE.
Longcut but that worked for me.

[2015-03-30 20:24] lancebeaudry commented on #158
@micrdy Have you been able to find a fix for this? I am having the same issue with no luck on a fix.

Thanks

[2015-04-02 13:37] micrdy commented on #158
No,  unfortunately not. If have disabled the animation on mobile.

[2015-04-05 18:13] brianchirls opened #172 "Error on animation end"
The `config` object referenced inside [`resetAnimation`](https://github.com/matthieua/WOW/blob/master/src/wow.coffee#L207) is `undefined` because it's referencing an undeclared variable. It should refer to the `config` property on the `WOW` object.

Be careful here, because `this` in the context of `resetAnimation` refers to the source of the event, which I believe is `box`. One possible solution

[2015-04-06 22:55] chedched commented on #172
+1

[2015-04-07 02:24] ItsJonQ commented on #172
+1 on this as well

[2015-04-07 07:11] #172 closed

[2015-04-07 07:57] tinny77 opened #173 "this.config is undefined"
I always get this error on line 357.
"Solved" forcing the animateclass name ignoring configuration setting.

[2015-04-07 08:15] #173 closed

[2015-04-07 08:16] attilaolah commented on #173
Thanks @tinny77, could you please try the new version?

[2015-04-07 11:56] brianchirls commented on #172
:+1:

[2015-04-07 17:50] JonaMX commented on #153
You can place your initialization code whenever you want, but I recommend you to do it just after all the libraries has been loaded
[code]

[2015-04-08 10:47] drhouse7 opened #174 "wow.js visible only in the viewport and not on scrolling"
Good morning,
I'm on Codeigniter and I don't know why but on scrolling down all wow items don't change their visibility as you can see:

![wow](https://cloud.githubusercontent.com/assets/8775559/7043768/944fac5a-ddec-11e4-92dc-ee0a68566339.png)

this is my head:
[code]

this is my code:
[code]

This is the link to my website:
http://dreammy.org/music

[2015-04-08 11:07] attilaolah commented on #174
This is because you're not scrolling the entire page, you're scrolling a `<section>`, namely the one with the `scrollable` class. This is currently not supported by WOW.js, see #65. For now, I'd suggest you don't use WOW.js with scrollable divs, simply scroll the entire page.

[2015-04-08 11:07] #174 closed

[2015-04-08 11:13] drhouse7 commented on #174
Thank you Attilah, however it's very bad for me

[2015-04-08 21:58] drhouse7 commented on #65
I tried that solution but why I got this error from console? the "function is not defined" at ```'scroll.wow', function()``` line

[2015-04-09 06:24] pojka commented on #65
@drhouse7 do you have jQuery installed? Also did you change 'your-scrollable-div' to match the id of your scrolling div?

[2015-04-09 15:10] drhouse7 commented on #65
@pojka Hi, it's all day long that I try without success, I also opened a bounty on  [stackoverflow](http://stackoverflow.com/questions/29460729/how-do-i-change-the-style-property-of-items-when-are-in-viewport-on-scrollable-s)...on scroll down from console I got ```Syntax error, unrecognized expression: unsupported pseudo: in-viewport```.

[2015-04-09 15:49] drhouse7 commented on #65
@pojka  Finally it works! Instead of add the script to the header, I inserted it directly in my view and now wow.js works on my scrollable section. You are awesome Pojka, thanks for this workaround...the only problem now is that each single row of items are displayed at once when in viewport, there is no delay (from left to right with this code ```data-wow-delay="<?php echo $delay; ?>s"```).

[2015-04-10 18:30] qgates opened #175 "wow items aren't animated/shown in DOM elements hidden at pageload"
I have a situation where my page has hidden content in the DOM (display:none) which is then revealed with user actions on buttons and links using jQuery functions like slideDown().

The problem is wow doesn't detect this and won't animate/show items until the scrollbar is moved, despite the fact that they are already visible as blank placeholders on the screen. Any chance this could be fixed?

[2015-04-12 12:49] qgates commented on #175
I implemented a workaround for this, a small behaviour hack which doesn't modify wow.js itself. We first need access to the wow instance from js, so load wow in this way:
[code]

Then, in the JS  responsible for revealing hidden elements, the slideDown() closure looks like this:
[code]

Not ideal but certainly workable. It'd be nice to see handling of this kind of situation baked in to wow, since

[2015-04-12 13:03] qgates opened #176 "FR: apply delay sequence to multiple items visible in the viewport"
Say I apply `wow fadeIn` to a bunch of graphics on a page. They appear nicely one by one as I scroll slowly down. But say those graphics are all in the viewport, either at pageload or if some code has jumped to an anchor position; I'd like to be able to apply a configurable delay to each item when multiple items are being animated by wow.

I'm aware of `data-wow-delay` etc., but the behaviour I'm

[2015-04-13 06:13] attilaolah commented on #176
If you can make this work by editing the JS (and it looks reasonable), send a PR and I'll backport that to CoffeeScript. I like the idea, maybe others would find it useful too.

[2015-04-13 06:15] attilaolah commented on #175
This isn't that bad, but `wow.scrolled` and `wow.scrollCallback()` certainly aren't APIs. Can't you make this work by calling `wow.sync()` instead?

[2015-04-13 06:17] attilaolah commented on #175
What browser are you using? WOW.js tries to detect DOM mutations, if you're revealing content by mutating the DOM (and how else could you), WOW should detect it.

Perhaps this is a bug, could you please point to a page where this is not working? (Or put together a quick example maybe.)

[2015-04-13 13:35] qgates commented on #175
I tried wow.sync() before my workaround above but that didn't fix the problem.

Chrome and Firefox, latest. Not easy to show the page with the problem at the moment as its on a local server, but when I have a little time I'll knock together a simple fiddle to demo.

Essentially, if we have a `div` set to `display:none` at pageload, then some button on the page fires a jQuery scrollDown() to make t

[2015-04-13 13:48] qgates commented on #176
Yes, I thought this would be a really cool feature. On a lot of the sites and systems I've put these delays in by hand, using data-wow-delay (and formerly using CSS classes .delayX with animate.css) to enhance the aesthetic of in-view gfx appearing. But since things have gone more responsive it's hard to know how many gfx will appear on a given viewport, and some of the later delays can look clums

[2015-04-14 07:32] attilaolah commented on #175
Oh, I see, that makes this a bug indeed. I'll look into that, thanks for reporting.

[2015-04-14 07:34] attilaolah commented on #176
Yeah, I was thinking something like that too. Just default it to zero, then we stay backwards-compatible.

[2015-04-14 12:02] davidhund opened #177 "Homepage mentions "3kb" but it's 2.5x bigger…"
You might want to update the homepage.

http://mynameismatthieu.com/WOW/index.html mentions "3kb only" but the current `/dist/wow.min.js` is *8.182 kb* — that's more than 2.5 times as large. Wow. Such bytes :)

People `gzip`, of course, but it's still a little bit misleading because the filesize is advertised as a USP.
E.g. http://scrollrevealjs.org/ is about the same size.

[2015-04-14 12:15] attilaolah commented on #177
Yep, that was written before some new features were added… I'll update the page.

[2015-04-14 13:29] qgates commented on #175
**More information**

I *can't* reproduce this problem in a simple case, as demonstrated by (this codepen)[http://codepen.io/anon/pen/dPxyox]. Everything works just as expected.

So I've put the page I'm working on in a temp location for you guys to look at:

http://tmp.qgates.com/wowbug.html

Load up the page, scroll down so that the "Detailed Information" button is somewhere near the page center

[2015-04-14 15:08] qgates commented on #176
Exactly. By the way, if you look at the link I posted for issue #175, the section under 'Mobile components' demonstrates the kind of behaviour I'd like to see automated. Presently it's being done manually with data-wow-delay attributes.

[2015-04-16 01:34] hugohcn commented on #129
I have the same problem in my website :(

Has anyone solved the problem?

[2015-04-16 01:53] hugohcn commented on #129
If you guys are using WOW + Animate.css, please see the link below:

https://github.com/daneden/animate.css/issues/274

[2015-04-16 16:15] patrickng commented on #129
jrmlstf's solution worked for me with a tweak:

[code]

[2015-04-21 17:41] ckirkov opened #179 "Wow js start all animations without scroll if they in wrapper"
Hello i have wrapper div on my page.
and all my another elements in wrapper.
i think because of that wow js working like animate.css without wow.js.   So all animations starting to work directly

[2015-04-22 16:22] raphaelyancey opened #180 "Elements visibility issue on Chrome for Android"
I'm using WOW with [Animate.css](https://github.com/daneden/animate.css) and [Impress.js](https://github.com/bartaz/impress.js) to create an interactive presentation that will be used on an Android tablet (currently tested on Chrome for Android on a Galaxy Tab II 10.1).

When I use Animate.css & Impress.js, all my elements are visible, but when I uncomment `new WOW().init()`, my animation sequence

[2015-04-26 11:19] owarigit commented on #176
Great suggestion, I'd find this useful since I have a little issue in responsive layout.
For example in desktop version I have 5 elements in one row with sequence animation (different data wow delay per item). But when I change them into mobile resolution, the delay will still be applied when every element take one row each. so the most bottom item has the longest delay.

[2015-04-27 15:38] mqanneh commented on #46
+1

[2015-04-28 08:17] maziarzamani opened #181 "Animations from left is causing problems with bootstraps navbar when in mobile view"
I noticed that when i create animations that are executed from left the navbar on a mobile device becomes extended, so you have to scroll sideways to find the toggle switch.

I am using bootstrap 3.0

[code]

[2015-04-28 10:43] maziarzamani opened #182 "Animations on a BS3 navbar-fixed-top when already scrolled down is not animated."
I am building a website with BS3 where i have a fixed navbar on the site. Unfortunately when i am already scrolled down on the page the animation is not fired before i scroll all the way up to the page.

[2015-04-28 11:20] maziarzamani commented on #150
I have the same problem. All the elements flash for a short moment in Firefox 37 and Chrome 42, whereafter the animation begins. Even with a delay i experience this problem. Only Safari seems to not do this. I have no offset.

[2015-04-29 16:46] maziarzamani opened #183 "Animations causing navbar-fixed-top to disappear while scrolling"
I have a website based on BS3 where the navbar-fixed-top is acting rather strange while viewed in mobile mode. When the page is loaded the toggle switch is not visible, if i scroll a little it appears. When i scroll further down to other animations it disappears once again, and appears slowly.

This problem does not occur while in desktop mode.

[2015-05-01 08:53] remcovog commented on #150
The problem is: first all the element loads on the page, then after the content has been loaded, the animation starts.  A simple solution to prevent the flashing, is to give the element a style="visibility: hidden",  so onload the element is hidden, then WOW kicks in, and make the elements visible again.

For example:
<H1 class="wow fadeInDown" style="visibility: hidden">FOO</H1>

The downside: ja

[2015-05-02 12:01] RadianSmile commented on #136
+1

[2015-05-07 21:59] bgilbert6 opened #184 "IPad 1, IPhone 1 issue."
Hi, I had an issue with the library on these 2 devices. It has something to do with the "Util.prototype.createEvent" function. "document.createEvent('CustomEvent') throws a not supported exception. I had to change this prototype function in order to get it to work. I'm not really sure if my code is correct either..
[code]

[2015-05-16 18:43] bsurela commented on #159
For me its not animating, since its a full screen modal, i guess wow cannot detect when the scrollbar is scrolled to the element any solution for that?

[2015-05-21 14:04] sebastiancichos opened #185 "Animations not working with SVG when page is reload (F5)"
As in title, when I'm loading again page I must scroll up and move scroll to down. Why if I add animations to tag like <p> or other "normal" tag animations starts correctly?

[2015-05-21 14:22] sebastiancichos commented on #185
In my console I have error:
Uncaught TypeError: b.className.replace is not a function in wow.min.js:2

[2015-05-25 16:20] atomgroomdesign commented on #136
I did this here, without Wow.js.  It would be cool to integrate something similar.
https://github.com/atomgroomdesign/icon-exit-animations

[2015-05-25 21:22] ckizer commented on #172
How do I install this fix? Seeing the same issues.

[2015-05-25 21:32] ckizer opened #186 "Can't Find variable: config"
Using the latest wow.js minified. I get these type of errors in browser:

[code]

Everything runs fine, just the annoying error I'd like to fix. Nothing seems to fix it.

[2015-05-26 12:40] ShielderJohn opened #187 "Elements flash when scrolling"
I have some elements with the "wow" class in my webpage. The thing is that some of them are giving a weird problem when scrolling to them, they appear with no animation, then the animation is triggered in reverse (making them disappear) and finally, the normal animation is fired (the way it should work).

You can check this error on my site: www.shielderjohn.com

I have had that error only when us

[2015-05-29 09:50] alexplusde commented on #179
+1

Is it possible to observe another DOM-Element than <body>? On my website, I rely on having

html {
  overflow: auto;
}
body {
  overflow: hidden;
}

That's why wow.js seems to trigger all animations at the very beginning.

[2015-06-01 11:20] iriswinter commented on #102
@jjroelofs Thanks!!

[2015-06-01 12:26] DjSunrise opened #188 "Wow.js breaks background-attachment: fixed;"
When I'm using wow js animation of the fixed bacground, the background doesn't load completely plus the browser lags a bit. You can observe that in Opera and Chrome. In mozzila everything works fine

[2015-06-01 12:29] attilaolah commented on #188
Have you looked at #75?

[2015-06-01 12:41] DjSunrise commented on #188
there is no answer

[2015-06-01 14:27] Cyberzwerg commented on #179
Can confirm. +1

[2015-06-10 16:16] MichaelFedorchenko commented on #97
Try to remove panel class. Maybe prevent several rules.
You can see at plunker it works.
Link to Plunk: http://plnkr.co/edit/302sq0mpFE7xxO81qi8S?p=preview

[2015-06-12 06:28] gaumji opened #190 "wow.js happens on page load and not on scroll"
We have deployed a new design to our website . I'm using wow.js, and it works fine, except the animations all happen immediately after the page load, and not when they are scrolled to. I followed the docs, but can't figure it out.

Its working fine in pure html :  http://developer.groupdesign.in/saivision/html_changes/index.html

But when I implemented the same in our Codeigniter based application

[2015-06-12 07:45] matthieua commented on #190
Just don't include the `animated` class on your `wow` elements.

[2015-06-12 07:45] #190 closed

[2015-06-12 10:31] roryok commented on #76
I'm also having this issue

[2015-06-12 10:58] RichardMisencik opened #191 "Wow.js and custom scrollbar plugin"
I’m having an issue when using wow.js with a custom scrollbar plugin (http://manos.malihu.gr/jquery-custom-content-scroller), the problem is that only the content that is already in viewport on load is shown, but when scrolling down the next content stays hidden.

Does wow.js perhaps provide methods to trigger its events within other scripts? So that these 2 plugins could work together?

[2015-06-12 12:11] Probablybest opened #192 "Dont trigger animation until div has an active class"
I'm building a website which uses slides (divs), which is causing an issue of playing the animation at the same time, which means if you arent on the first slide you cant see any of the animations.

When a slide is active/shown a class .pt-page-current is added to the parent div. What I would like to do is create a script to only allow WOW to trigger the animations if the slide has a class of .pt-

[2015-06-12 14:05] k3z commented on #155
+1

[2015-06-12 14:07] attilaolah commented on #155
:+1:

I also prefer the UDM way. If anyone's up for some coding, PRs are welcome as always.

[2015-06-12 14:16] k3z commented on #155
I found this sample code in a french post that seems to be universal.
http://putaindecode.fr/posts/js/browserify-all-the-things/#ecrire-un-module-pour-browserify-mais-pas-que

[2015-06-12 15:46] NetanelBasal opened #193 "Trigger the animation when the page reload"
i have a problem, im using angular and i have am main header with 100vh, and the bottom there is a section the in page first loading is revealing to the view before angular is showing the main header complete so the bottom section is in the view for half second and WOW is triggered the animation.

there is a solution to this problem?

[2015-06-12 22:37] ckizer commented on #186
Can anyone help with this error?

[2015-06-12 22:52] attilaolah commented on #186
Could you please link to a site that throws this error? I couldn't reproduce this.

[2015-06-14 07:14] jflefebvre06 commented on #186
I have the same problem with the last release

[2015-06-15 05:27] ckizer commented on #186
@attilaolah You can check it out on the site http://imhired.com There main page uses wow.js and throws the error if you check in web inspector.

[2015-06-15 13:04] efratoosh opened #194 "how to change the z-index of the elements with class wow?"
Hi,
I'm using the wow.js, which works great. now I've put on my site a linkedin plugin. whenever it pops out, all the element with class "wow" are on top of it, as if the wow elements have a higher z-index, but I cant find any referance to that on the script. what am I missing here?

[2015-06-16 15:35] gleenk opened #195 "Empty spaces in Safari"
Hi there, how to fix the empty space that wow.js generates at the end of the page in safari?

[2015-06-17 12:09] palci12 opened #196 "Googlebot crawler doesnt see the content reveleaded by wow.js"

[2015-06-20 06:51] graywizzard commented on #119
I am using the following solution.

// Small Screen
if(windowWidth <= 719){
	$(document).ready(function() {
		$(".wow").removeClass("wow");
	});
}

[2015-06-22 12:53] marek307 commented on #162
how to modify it to work with data attributes?

[2015-06-22 14:48] marek307 commented on #162
OK, i make one solution, but it only works for data in ms...
<pre>
        afterLoad: function(anchorLink, index){
          me = $(this);
          me.find('.wow:not(.animated)').queue(function(n) {
            var delay = $(this).data('wow-delay');
            $(this).delay(delay).queue(function(m) {
              $(this).removeAttr('style').addClass('animated');
              m();
            }

[2015-06-24 14:57] raphaelyancey commented on #194
Can't you overwrite it in your local CSS?
`.wow { z-index: 9999; }`

[2015-06-24 15:02] raphaelyancey commented on #180
I've been reading all the (compiled) code, and I still can't find why some elements are not shown. It happens on a pretty random basis. Can you please explain how the script works or a specific variable to watch? The code is not commented and I'm not familiar with CoffeeScript.

[2015-06-24 17:20] efratoosh commented on #194
apparenatly the animation in css returns the div to z-index 0, so I just removed the animation from the linkedin div and it solved the problem.

[2015-06-27 05:32] realAbstractionist commented on #187
I have the same problem and yes it only happens in Mozilla Firefox. Other browsers perform well. I have tried almost everything, but still haven't found the solution.

[2015-06-27 15:14] petermikitsh commented on #150
Pretty sure this might be causing SEO issues for me.

[2015-06-29 06:34] ckizer commented on #186
Any update? Still throwing there errors after a few months.

[2015-06-29 06:34] ckizer commented on #186
![screen shot 2015-06-28 at 11 34 35 pm](https://cloud.githubusercontent.com/assets/191738/8402234/425c4c7c-1dee-11e5-85c8-07976403241a.png)

[2015-06-29 07:10] attilaolah commented on #186
I haven't posted any updates because this issue seems to have been fixed in 0d7d1c4adbd4f09eace7d7abba2fdffa366fbe3e. The problem is, I can't tell for sure which version is active on your website because it is compiled in together with other scripts, and there's no way to tell the version.

I wish we had a `WOW.version` or something.

[2015-06-29 10:30] HamiltonMilan commented on #76
I'm having the same problem, does not start the animation and the elements are left with "style = hidden". The problem is intermittent, giving refresh sometimes works sometimes not. Updated to 1.1.2 has improved but it still happens only in Chrome and Opera. IE and FF are OK

[2015-07-06 05:03] zuhloobie opened #197 "Repeat Animation for Modals"
I would like to run WOW Animate when opening up a modal to animate its contents. This works, but by design, WOW doesn't do this after its run once. I can understand for default use, but where modals are concerned, is there a code edit that can be used where I can have them animate each time a certain modal is opened? For instance, right now, if I click open modal 1 the animation runs. Great! But o

[2015-07-06 05:19] zuhloobie commented on #197
So it looks like it DOES reload each time, but ONLY if I add: data-wow-duration=".3s" to the div wow code.
[1] Or am I crazy?
[2] If I'm not crazy, that's good, but doing this gives me that flash people see and solve by .wow {visibility:hidden;} - even though I already have that in my .css and it solves the flash problem when not in the modal. This flash occurs only in the modal now.

[2015-07-11 17:59] shantanuay opened #198 "Wow.js with Swiper.js"
Hi,
I was trying to get something like the Fiddle, but there is a issue i see that when swiper loads all the wow elements are executed. only the first time the wow animation is working and on other slides its not. Please help on it.
http://jsfiddle.net/impulseinflame/02achd8a/

[2015-07-12 16:41] MaartenUreel opened #199 "Infinite iterations by default"
I am using wow.js for the first time, and for some reason animations keep repeating unless I set the iteration to 1 on every element.

Is there a way to declare this as default?

See: http://www.verhuur-bestelwagens.be/
The H1 has iteration set to 1, the others have no iteration attribute and just keep repeating.

[2015-07-12 17:54] #199 closed

[2015-07-12 17:54] MaartenUreel commented on #199
It was a conflict with glyphicons. No issue.

[2015-07-13 08:53] samuele1990 opened #200 "data wow delay"
Hi!
Can you explane why in mobile devices data-wow-delay doesn't run?

[2015-07-13 19:54] zuhloobie commented on #197
I resolved this by adding the stop and init code to my modal open code, like this example:

[code]

[2015-07-14 01:22] zuhloobie commented on #197
RATS! So close.

I have a grid of boxes. Each box is a trigger that opens a modal. Inside each modal are items that appear with WOW.

My above "solution" did work, but only for boxes (modal triggers) that WOW already loaded. If I scroll down and WOW loads more boxes (modal triggers), the modal is empty when opened. It's like WOW isn't restarting for hidden items...

Can anyone help?

[2015-07-14 20:29] jhhshh commented on #197
I think you misuse wow.js.. AFAIK, It's not supposed to animate modals appearance by design (it triggers class changes, if element hits the viewport)
I could've gotten you wrong - may be you're about animating the content inside the pop-up (while scrolling)
Anyway:
You can still manually classes while triggering pop-ups appearances (using same animate.css file), for example - remove .animated clas

[2015-07-14 21:58] zuhloobie commented on #197
I'm not trying to animate the modal's appearance. I'm using it as it is designed, as you explained, to trigger class changes if the element hits the viewport.

Here is how I have it:
* boxes are animated to be visible as they are scrolled into the viewport - by wow plugin design
* each box is a trigger to open a modal that is 80% of the screen - by modal plugin design
* once box is clicked, the mo

[2015-07-14 22:23] zuhloobie commented on #197
EXAMPLES

[1] Here is a development page of how it works with no changes to any code:
http://www.shynemedia.com/dev/sm/2015_site/portfolio/logos/index.php
* all boxes scrolled into viewport open up modals with elements that animate into visibility
* animation does NOT repeat - elements animate into visibility all at once if modal was previously opened

[2] Here is a development page of how it work

[2015-07-17 11:17] andryesh opened #201 "Why my caption text from slider is animating only once?"
Why my caption text from slider is animating only once?

It animates the text from every slider just once, it's not looping.

Can you help me how to fix that?

    <div class="hero-caption">
	  <div class="hero-text">
		<h1 class="wow bounceInUp">Introducing London Steak House</h1>
		<h5 class="wow bounceInLeft" data-wow-delay="0.5s">Fine food and dining since 1990</h5>
		<a class="btn wow bounceI

[2015-07-21 00:49] jayalfredprufrock commented on #155
+1

[2015-07-21 21:49] vyskoczilova commented on #200
Yep, I would like to know as well, or at least - how to disable data wow for mobile phones?

[2015-07-22 01:57] zuhloobie commented on #175
I have the same sort of problem. I have a page of boxes that appear with wow. Each box is a trigger to a modal. Everything works great. But if I were to scroll down the page, then refresh the page...wow animates only the viewport boxes. This is to be expected since the other boxes are not in the viewport and thus won't be animated into visibility by wow. If I click on any box after page refresh, t

[2015-07-27 05:29] zuhloobie opened #202 "delay between iterations"
Is this supported? Like if I wanted to do "rubberBand" effect 5 times with 3 second pause in between each iteration?

So a `wow-data-iteration="5"`, but also something like `wow-data-iterationDelay="3s".

Yes? No? Maybe so?

[2015-08-10 09:53] Blueblau opened #203 "Duration in settings object"
It would be awesome to be able to set a global duration in the settings object, when you init WOW.

[2015-08-11 01:08] snack8 commented on #195
Not sure if you're having the same problem I ran into, but, using the flip animation in safari was causing the elements to be white blocks. Changing *from* to *0%* in animate.css seemed to be the fix. Safari is quirky...

[2015-08-16 14:46] 3tlam commented on #203
as a quick 'n' dirty hack:

in the non-minified version:

Line 170: declaration of the default values, add for example ```duration: '2s'``` so that in the end it looks like:
[code]
Line 331: check for inline values, replace
```duration = box.getAttribute('data-wow-duration');```
with
 ```duration = (box.getAttribute('data-wow-duration') === null ) ? this.config.duration : box.getAttribute('data-wo

[2015-08-17 13:55] khalwat opened #204 "WOW as an AMD module / requirejs"
I have a site that uses RequireJS for all javascript module loading; I've attempted to use WOW on the site, but it appears that the script isn't AMD-compliant?

Even with a shim created, what happens is the site loads, wow.js appears to load properly, I initialize it with:

    new WOW().init();

...but animations just never happen.

[2015-08-17 13:58] attilaolah commented on #204
Possible duplicate of #155?

[2015-08-17 14:02] khalwat commented on #204
Yes, it appears to be a duplicate.  Do you have any plans to add AMD support?

[2015-08-17 14:03] khalwat commented on #204
http://ifandelse.com/its-not-hard-making-your-library-support-amd-and-commonjs/

[2015-08-19 14:22] attilaolah commented on #155
Could you please try the [amd branch][1] and see if that works for you? If yes, we could merge that.

[1]: https://github.com/matthieua/WOW/tree/amd

[2015-08-19 14:22] attilaolah commented on #204
Could you please try the [amd branch][1] and see if that works for you? If yes, we could merge that.

[1]: https://github.com/matthieua/WOW/tree/amd

[2015-08-20 12:08] kaiqueg commented on #115
Hi, I have the same issue with YouTube fullscreen iframe and I know what's doing this bug but I don't know how to fix it.
Well, when we apply this CSS animation property to iframe or some parent:
[code]
we are telling our browser that our element will be hidden after the page was loaded, right? When we put the **both** value it should mean **before and after**. But when we call the fullscreen mode

[2015-08-20 21:45] zuhloobie commented on #175
Any update on this bug? :)

[2015-08-21 07:32] ZanetaBulawova commented on #204
There is an error on this line. And i tried this on common js.
https://github.com/matthieua/WOW/blob/amd/src/wow.coffee#L114

[2015-08-22 22:45] ugurerkan commented on #46
Hey, have same issue then try MervelousM approach but failed because when init again wow it's reset every wow class element on my page. I need selective reset so made some changes. If you need something like that, here you are :blush:

I created a **addBox** function, it's helps push new element WOW boxes array.

[code]

Then I used jquery and [scrollspy](https://github.com/thesmart/jquery-scrolls

[2015-08-23 09:02] jimmywiddle commented on #166
Hi, Having issues here as described above with a livehelp (livehelperchat.com) and the status div which is hidden.

Heres a little more about the issue (start about half way down the page):
https://forum.livehelperchat.com/viewtopic.php?id=1400

Have tried adding in the wow.sync here:

        var wow = new WOW();
        var htmlStatus = '<div id="lhc_status_container" class="wow bounceInUp" data

[2015-08-23 09:19] jimmywiddle opened #207 "IE 10 DOM mutations - hidden div issue"
Hi, Having issues here with IE 10 wow.js and a livehelp (livehelperchat.com) which the livehelp status div which is hidden.

Im aware this is because IE 10 cannot detect DOM mutations and you have to add the wow.sync but I cannot correctly add this to get things working, any help would be so much appreciated.

Have tried adding in the wow.sync here:

    var wow = new WOW();
    var htmlStatus = '

[2015-08-27 02:05] pablodgonzalez opened #208 "Add animate.css on main attribute on .bower.json file"
Why animate.css is not in main attribute of .bower.json file? Can you add this?

[2015-08-27 02:07] pablodgonzalez opened #209 "Change dist/wow.js to dist/wow.min.js on .bower.json file"
Can you change dist/wow.js to dist/wow.min.js on .bower.json file?

[2015-08-27 07:51] attilaolah commented on #208
I'm no expert for bower, we should probably ask @matthieua, but my guess is that it's because `animate.css` is is an (optional) dependency, not part of this library. WOW.js works well with `animate.css`, but works just as well without it (you can provide native or custom animations).

[2015-08-27 07:52] attilaolah commented on #209
@matthieua could you please have a look at this. Again I'm no expert, do bower packages tend to include minified files or originals?

[2015-08-27 18:50] mbtocalli opened #210 "bootstrap carousel"
I am using native bootstrap carousel and Wow.js
I am trying to create a carousel where the contents of each slide animates when the slide is active. Is there a way I can change it so the animation occurs on the content only when its containing slide is visible on the screen?

[2015-08-28 00:38] pablodgonzalez commented on #208
@attilaolah thanks for you answer, @matthieua  sorry close this issue.

[2015-08-28 00:38] #208 closed

[2015-08-28 01:52] pablodgonzalez commented on #209
@attilaolah @matthieua share with you an excelent article of @ryexley about bower http://bob.yexley.net/creating-and-maintaining-your-own-bower-package/ in bower docs, recommend put no minified files in main attribute, but in practice, rarely a developer does a debug over this files. However these files must be in the delivery package just for this cases.

[2015-09-10 10:42] syamvilakudy opened #211 "TypeError: config is undefined"
After Wow jS integration, getting this error

TypeError: config is undefined
return target.className = target.className.replace(config.animateClass, '')...
wow.js (line 357, col 16)

I have changed config to this.config. but not working

[2015-09-10 19:52] KarloxMartinez opened #212 "Convert to composer package"
Please convert this in the composer package for install with:
composer requiere matthieua/wow

thanks

[2015-09-15 16:03] janisdonis opened #213 "Javascript error"
We use wow.js on some pages, wordpress skins, and one of them we see JS error.

TypeError: 'undefined' is not an object (evaluating 't.nodeType')

This bug is only on Safary old version and Safary Windows.

[2015-09-17 12:22] shantanuay commented on #198
Any Help Guys. I know there are expert programmers here please help on this

[2015-09-23 22:31] pcavanaugh commented on #155
Hi @attilaolah, the [amd branch](https://github.com/matthieua/WOW/tree/amd) is working for me with one exception. When using browserify, the global `this` object is not equal to  `window`, so the browser function checks for [MutationObserver](https://github.com/matthieua/WOW/blob/amd/src/wow.coffee#L80) and [WeakMap](https://github.com/matthieua/WOW/blob/amd/src/wow.coffee#L60) fail. Would it be p

[2015-09-25 11:46] danisrehmat opened #214 "Not work on scroll"
animation load on when page is load.. after page is complete load i scroll down on section2 and animation not work

[2015-09-25 12:03] webdizajner commented on #210
http://www.sitepoint.com/bootstrap-carousel-with-css3-animations/

[2015-09-25 19:12] oniseun commented on #214
maybe you are using a scroll container i.e material design .mdl-layout__content
add the parent class to the list of options

                      scrollContainer: '.parentclass'
@danisrehmat

[2015-09-26 12:35] valentinocossar commented on #214
@oniseun You've just made my day, thank you!

[2015-09-28 01:49] Menusito opened #215 "event hover dont fire with class "wow""
if an element has an event on hover the event dont work, first we need to click on the element to enable the events.

[2015-09-29 19:11] JayHoltslander commented on #207
@jimmywiddle Did you ever get this sorted out?

[2015-09-29 19:47] jimmywiddle commented on #207
no im still trying, are you having the same issue? dont know if this might help too, i want to double check these methods:
https://forum.livehelperchat.com/viewtopic.php?id=1400&p=2

[2015-09-30 11:27] danisrehmat commented on #214
my theme http://hashtag-themezstudio.weebly.com
@oniseun this is the div of my theme landing page container
<<--------------------------------------------------------------------------->>
div class="main-wrap">
   div class="animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
     div class="container">
        div class="content-wrap">{content}</div>
	    /div>
     /div>
   /div>

[2015-10-01 02:44] valentinocossar commented on #214
@danisrehmat Probably you are missing the `wow` class in the animated div. `wow` class hides the div with `visibility: hidden` and then show it when you scroll the page.

[2015-10-01 15:11] danisrehmat commented on #214
@valentinocossar can you edit for me?

[2015-10-01 15:48] valentinocossar commented on #214
@danisrehmat
[code]

This is what you mean? I only added the `wow` class to the animated div.

[2015-10-02 08:30] danisrehmat commented on #214
Big Brother @valentinocossar you solve my Big problem thanks you, thank you, thank you very much.. <3 <3 <3

[2015-10-05 12:34] valentinocossar commented on #214
@danisrehmat lol, you're welcome, it's nothing!

[2015-10-08 14:01] mahish commented on #185
Ime getting same error. Did you solve it?

[2015-10-08 15:03] mahish commented on #185
the error occur on line 362
[code]
https://github.com/matthieua/WOW/blob/master/dist/wow.js#L362

[2015-10-08 18:52] sanserve91 commented on #214
Hi
I have multiple containers with inner scrolling, those containers have the same class but when I define scrollContainer property, wow still not working.

[2015-10-14 10:43] LeGast00n opened #216 "Any plans to make animations sync with multimedia content (audio or video)"
That would be great !

[2015-10-14 11:42] lucidlemon commented on #212
composer is for PHP, wow is js so it is meant to be installed with bower, which it does.

`bower install wowjs`

[2015-10-15 15:14] prosarmientolou opened #217 "Animation does not work until scrolling"
Hi,

In this site http://ssproducer.com/bontrager, my issue is when from homepage I go to inside page then hit the back button of the browser and the divs aren't animating until I scroll. That's fine when I'm on the top of the homepage, but not ok if im in the middle of the page cause it appears to be blank section in the homepage. Is there a way to make the divs auto animate when already visible

[2015-10-17 20:25] attilaolah commented on #212
Yep. Works as intended.

[2015-10-17 20:25] #212 closed

[2015-10-17 20:27] attilaolah commented on #211
We had this error before, I thought it was fixed… I'll double-check.

[2015-10-17 20:29] attilaolah commented on #210
I hope that answers your question, @mbtocalli. Feel free to reopen if it doesn't.

[2015-10-17 20:29] #210 closed

[2015-10-17 20:29] attilaolah commented on #155
Yes, we can do that (explicitly reference `window`).

[2015-10-17 20:30] attilaolah commented on #213
I doubt it would get fixed any time soon.

[2015-10-20 15:25] Gismo88 commented on #185
any updates about this?

[2015-10-20 15:35] ricardogobbosouza opened #218 "Bug Firefox animeted twice times"
In the new version of **Firefox** the **WOW.js** being animated twice if not in cache.

See http://mynameismatthieu.com/WOW/ and pess `CTRL+F5`

[2015-10-20 19:04] ben72 commented on #218
Same here using Firefox 41.0.1 on Ubuntu/Linux. It's the same with just ```F5```.
It animates just once using Chrome.

[2015-10-20 19:43] ricardogobbosouza commented on #218
Using Firefox 41.0.2 on Windows 7 it animates twice.

[2015-10-20 19:51] attilaolah commented on #218
Thank you guys. I will look into this.

[2015-10-22 09:12] coresinceeightyfour commented on #217
Hey, I have the same issue. Items on the bottom of the page don`t work on reload until scrolling. any solution yet? Example: http://bit.ly/1NSFAEm

[2015-10-22 13:29] z3robyt3 commented on #196
i have exactly the same problem. all content that is revealed by wow.js is invisible for googlebot. One can easily confirm this by using the "fetch as google" tool from googles webmaster tools.

The tool will see an empty page if you use wow on every element.
Which means: Your page rank will go down the crapper!

Also it would be a bad idea to disable wow for the googlebot user agent because it wi

[2015-10-24 19:56] KarloxMartinez commented on #212
I need use with the symfony2, no with bower

[2015-10-24 19:58] lucidlemon commented on #212
symfony is php, wow.js is javascript. composer is not, in any way, meant
for js. not at all. You need to use bower for JS and css. You will never
ever ever ever see wow.js on composer.

On Sat, Oct 24, 2015 at 9:56 PM, Luis Carlos Martinez <
notifications@github.com> wrote:

[2015-10-24 21:21] KarloxMartinez commented on #212
Jquery is javascript, se the  URL https://packagist.org/packages/components/jquery for composer install

[2015-10-27 16:23] 93gaurav93 commented on #196
Same problem here. It is affecting SEO very badly.

[2015-10-27 16:39] z3robyt3 commented on #196
Just FWI: I completely disabled wow on all my pages. now google has reindexed them and my page rank is much better now. Very sad, because i really liked those wow effects

[2015-10-27 16:40] 93gaurav93 commented on #196
me too...

[2015-11-02 02:26] cpbravo opened #220 "How to use wow.js for a web page that show content from bottom to top"
I want to use wow js animations for a web page with inverse scrolling. When the page loads the scroll bar is at top. But shows the content which are at bottom of the page. In natural scroll,bottom content will slide down and the top content will be displayed accordingly. I used wow js animations but they are not visible and not animating till you scroll to the bottom of the page.(in my case the sc

[2015-11-06 22:28] rfookune commented on #188
The issue with background-attachement: fixed does not seem to be related to wow.js or animate.css but keyframe animations.. This seem to be a very common issue. I didn't find any answer to it but did see a way around it for those looking.

Instead of using bg-attachement: fixed with wow.js I used a js library (http://pixelcog.github.io/parallax.js/) which doesn't seem to use the bg-attachment prop

[2015-11-09 00:57] iamsmae commented on #136
I have been looking for a way to do this! I hope it gets added soon!

[2015-11-10 06:11] EclipseLCY opened #221 "Uncaught ReferenceError: config is not defined"
I got this bug when using wow.js.
[Tips here]
Uncaught ReferenceError: config is not defined
[Code underlined]
wow.js 357: return target.className = target.className.replace(config.animateClass, '').trim();
[Environment]
Windows 7 + Chrome 46+

[Context]
<script src="__CDN__/wow/1.1.0/dist/wow.js"></script>
 $(document).ready(function(){
                    new WOW().init();
                });

[2015-11-10 08:21] dandaka opened #222 "Default animation style"
**Right now**

There is no way to specify default animation style (like fadeInUp)

**Should be**

User can specify default animation in init().

[2015-11-10 15:46] andreav opened #223 "Question about site logo animation"
Hi,
I just installed this plugin (master version).
It works as attended on any content but the logo.

When I apply any transition to my site logo (inside the navbar, at the top of the viewport), I have this behaviour:

* As is, It is not working. Logo with wow class is not visible, I get this HTML after loading the page.
[code]

* When I put a padding-top **>= 0.4 em**, it works as expected and I

[2015-11-10 16:14] andreav commented on #223
I created a fiddle to reproduce it: http://jsfiddle.net/andreav/9n74Le1t/

[2015-11-13 22:34] josiahmann commented on #185
Having the same issue. Any updates appreciated.

[2015-11-14 20:40] Awilum commented on #211
The same issue I have. need to downgrade to WOW - v0.1.12 - 2014-06-29 - its works for me...

[2015-11-15 02:43] mmjaeger opened #224 "iPad issues"
Hello

SlideInRight causes some layout issues on the iPad - when the animation of some overlay div starts, the full page collapses to about one third of the regular with and then expands again at the end of the animation.

Is this a known issue - is there a way to fix this?

[2015-11-16 16:00] jimmywiddle commented on #207
@JayHoltslander Just coming back to it now, did you have any luck?

[2015-11-29 18:34] GSCube commented on #214
Same, story. scrollContainer: '.parentclass' doesn't work for me ;(

[2015-12-01 11:53] Ahrengot commented on #224
I'm guessing this happens because the page, all of a sudden, gets a lot wider when the animation starts because you have that element offset to the right.

The way around it is to wrap the container of that animating element in something that has `overflow: hidden;`

[2015-12-02 05:41] conor commented on #139
@fredkelly I have run into the same issue. Did you find a solution?

[2015-12-02 11:35] marett opened #225 ".animated class is being removed in 1.1.2"
In the current master: After the animation even has ended, the .animated class is being removed.

I've downloaded v1.1.0 and also looked at the demo website (http://mynameismatthieu.com/WOW/ - which appears to be v1.0.2) and in both these examples the .animated class persists once the event has completed.

I assume it's a bug.

[2015-12-02 12:08] fredkelly commented on #139
Unfortunately I don't remember, the code is here if it's of any use! http://charitable-landing.s3-website-us-west-1.amazonaws.com/

[2015-12-02 17:33] conor commented on #139
@fredkelly cheers anyway, I figured out my own solution earlier not using wow for svgs group detection.

[2015-12-02 23:07] tiagomatosweb opened #226 "Repeat animation on click"
Hi Guys,
There is a way to repeat animation by clicking on a link?

[2015-12-03 00:45] tiagomatosweb commented on #226
Well, I got a quick solution. You have to get the element, clone and remove it. After that, you past at the same place as original. So, the animation will appear again :)

I am sure that it isn´t the best way to do it, but so far it works fine.

If someone has any other ideas, please share it.

Cheers

[2015-12-03 16:09] lucminarro commented on #185
Same problem for me. I have a SVG animation placed in a container but when i give the wow class to the container my console tells me : Uncaught TypeError: target.className.replace is not a function.

[2015-12-03 16:17] josiahmann commented on #185
I could never get it to work with svgs and ended up manually triggering all of my svg animations with a window.scrolltop function...

Turned out pretty well though. Here's the site. https://craftcommerce.com/

[2015-12-03 22:39] jhhshh commented on #185
@josiahmann @lucminarro as a workaround you could just wrap your svg into some div, etc
works fine here - http://lp.inhousestudio.ru/ - more than a year (! BEWARE OF TRAFFIC)

[2015-12-04 12:31] mindbreaker commented on #196
@z3robyt3 did you load your content dynamically? Or did you load the content on pageview and set it hidden?

[2015-12-04 13:52] commentluv commented on #33
adding .wow {
  visibility: hidden;
}

worked for me! I was searching for ages on how to prevent the flash on page load.

thanks!

[2015-12-07 01:34] m5designstudio opened #227 "Animations play twice on page load & refresh"
Hello,

After adding Google translate, all animations play twice on page load & refresh on Firefox 42.0 for MAC.
Safari & Chrome work well.

If Google translate is removed the animation works fine on Firefox.

Thanks!

[2015-12-07 17:32] Jadaw1n opened #228 "Publish to NPM?"
Would be nice to have wowjs as npm package!

[2015-12-09 09:11] etylsarin commented on #228
+1

[2015-12-09 10:58] conor commented on #228
+1

[2015-12-10 08:49] roylodder commented on #228
+1

[2015-12-12 10:50] piggyslasher commented on #33
This is an extremely crucial issue that needs to be mentioned in the documentation.

[2015-12-13 20:57] AizSedaj commented on #187
I have the same in chrome, it is not only firefox thing.
This happens when I try to use delay, in other cases - animated fine.

[2015-12-14 03:22] ocvninfo commented on #218
Same problem. Using Firefox 42 on Windows 10. Hope it will be fixed ASAP!

[2015-12-15 23:44] n0m4dz commented on #228
+1

[2015-12-18 09:45] anjanphukan opened #229 "Problem with google fonts"
It worked well. But I used Google fonts and after that it started to create an issue. When I refresh the page the texts loads first and then the animation starts again. Can you please help me?

[2015-12-18 09:46] anjanphukan commented on #227
Hi I have the same issue but with google fonts. Did you manage to solve it?

[2015-12-18 14:41] m5designstudio commented on #227
Hi There!
All my sites use Google fonts and they never affected WOW.js
I couldn't fix the issue so I moved on to: https://github.com/jlmakes/scrollreveal.js
It works great so far.

[2015-12-18 14:57] anjanphukan commented on #227
Hi, Thanks for sharing your solution.

[2015-12-18 16:24] Ataurr commented on #119
if you are using wow latest version its work fine.

[2015-12-18 16:24] #119 closed

[2015-12-23 17:32] benjasHu commented on #228
+1

[2015-12-28 02:51] jasonlam0619 commented on #228
+1

[2015-12-28 03:20] jlmakes commented on #224
@mmjaeger Here’s a diagram to help illustrate what’s happening:

![figure](https://cloud.githubusercontent.com/assets/2044842/4730193/18f76420-5995-11e4-9f4e-0a22eb7581cd.png)

The 2 elements not yet in the viewport are pushing the boundaries of body here. This is exactly what you should expect when children are positioned outside of parent elements.

The solution as @Ahrengot mentioned is to use

[2015-12-29 18:43] fpernia opened #230 "Callback when an animation finished"
This would be a useful feature. Actually the only callback that exists is for the beginning of animation, no for the end of it :(

[2015-12-30 10:30] Firfi commented on #228
There's already wow package in npm actually (`npm info wow`) but it is another 'wow', not this 'wow. Just for maintainer information.

+1

[2015-12-30 20:42] caroso1222 commented on #229
Are you sure you're writing `wow.init();` inside `$( document ).ready(function(){...})`

[2015-12-31 07:51] hmahdavi921 commented on #76
I use wow.js in my site It worked currently in ff but in chrome : animations run with  bounce page elements .

[2015-12-31 09:03] anjanphukan commented on #229
Hi Carlos, yeah, I used it inside `$( document ).ready(function(){...})`. Do you want to check the files or codes?

[2015-12-31 09:14] caroso1222 commented on #229
Yeah, show me! How are you loading the Google fonts? I do it via css using the `@import url(https://fonts.googleapis.com/css?family=...:100,300,700,...);` statement and it works like a charm.

[2015-12-31 09:17] anjanphukan commented on #229
Sorry, I am not using @import. Can I have your email id, so that I can send you the site credentials privately?

[2016-01-01 07:32] fensterbaby opened #231 "WOW elements flash on screen briefly before animation"
My WOW elements flash on screen then immediately disappear and then animate in properly.

http://alaskawebcrafters.com/content-management-systems

jquery 1.11.3
Chrome Version 48.0.2564.48

Any ideas?
Thanks!

Greg

[2016-01-01 10:41] MarsZone commented on #230
I totaly agree with you.....

[2016-01-02 17:16] jlmakes commented on #231
@fensterbaby This is because the DOM has begun rendering before your JavaScript.

You _could_ move the JavaScript into the head of your document, but then your elements wouldn’t be in the DOM yet… so you'd have nothing to animate.

I believe the solution is to use `visibility: hidden` on your elements, preferably in the head of your document (as to avoid the flash while loading external CSS), so t

[2016-01-02 17:19] jlmakes commented on #228
This would be simple enough! A properly formed `package.json` followed by `npm publish` from the author would handle this almost immediately.

[2016-01-02 17:58] jlmakes commented on #230
@MarsZone @fpernia Capturing the end of an CSS transition/animation must either be through `transitionend` or `animationend` events (sometimes with vendor prefix) or by calculating the duration explicitly and using `setTimeout` :sweat_smile:

In my tests `transitionend` was a little unreliable, sometimes not triggering at all, so for a similar library of mine I chose to calculate the animation dur

[2016-01-04 21:41] QWp6t commented on #212
That package is managed by a third-party, not jQuery. You can request that the same group create a repo for wow.js here: https://github.com/components/components/issues

Apart from that, like everyone else said, Composer is a PHP dependency and package manager, not a JavaScript one. Requesting this here is patently absurd.

[2016-01-05 06:10] atilkan commented on #175
I have the same problem too. I guess there is a limit on elements.

[2016-01-05 11:15] linkdigitaluk commented on #34
@attilaolah, thanks, it worked for me.

[2016-01-05 11:25] Nishant-Rana commented on #227
Please provide us solution asap for this

[2016-01-05 11:33] anjanphukan commented on #227
I used WOW and still having the issue.

[2016-01-05 14:20] kazupooot commented on #221
Hi! Try to use v1.1.2 :)

[2016-01-07 13:51] fpernia commented on #230
@jlmakes great response! Thank you so much for that excellent explanation! :)

+1

[2016-01-08 18:19] saviomd commented on #228
It would be nice but it doesn't need to.
You can reference github projects instead of npm packages in your package.json:
[code]
(I always refer to a specific tag, but I think that you can take "#1.1.2" off and it will get the master instead)

[2016-01-11 06:04] jasonlam0619 commented on #228
@saviomd Good solution. Yet I have failed to require it after installation. Do you know how to require the module this way properly?

[2016-01-11 06:50] jlmakes commented on #228
@saviomd You need it wrapped in a module loader. I think you want to look into the [AMD branch](https://github.com/matthieua/WOW/tree/amd).

[2016-01-11 12:35] saviomd commented on #228
@jasonlam0619 I don't know..
I don't use require.js/module loaders (yeah, I know, I need to get into this..).
I normally concat it with other "external" scripts using gulp:
[code]

But probably @jlmakes solution will do for you :)

[2016-01-12 09:09] MarsZone commented on #230
@jlmakes great response...Thanks a lot!
Nice work~

+2

[2016-01-14 14:53] leto3087 opened #232 "how can i animate an element which have ever transform property ?"
Hello, thanks for your plugin !
I have a little problem.
I have an element which have ever a transform porperty (rotate on background image).
I want that element appears with this property. But after the animation, the rotation does not appear.
I tried with the "animation-fill-mode" property but it not works...

Have you a solution for my problem ? Thanks a lot.

[2016-01-15 17:08] notiv-nt opened #233 "Work with Webpack"
require('js/wow.js');

but i have error in console:

    Uncaught TypeError: Cannot read property 'WeakMap' of undefined

i think this is because

    (function() {
        /***/
    }).call(this);

and `this` in undefined

[2016-01-16 12:39] dawnerd commented on #233
Can confirm, same issue here. Worked by changing `this` to `window`. Perhaps there's a better solution?

[2016-01-18 23:13] covertnine commented on #217
Having the same issue with Flex Slider on the page. Any wow elements below it do not display until after scrolling, causing half of the page to be invisible on page load.

[2016-01-19 08:50] apu27888 commented on #217
mee tooo with the same problem....... wow.js totally not working..... but animate.css is working fine

[2016-01-19 13:46] zjoin opened #234 "How use in a React Component?"
Is there an example of how to use on react?

[2016-01-21 06:55] rstacruz commented on #228
Can we publish this as `wow.js`? :+1:

[2016-01-21 13:13] rafaelhasson commented on #227
Hello.. same issue here! Anyone know how to fix please?

[2016-01-21 17:11] graingert commented on #233
require('imports?this=>window!js/wow.js');

[2016-01-21 17:14] graingert commented on #228
@rstacruz I've published this to wow.js, @matthieua feel free to send me your NPM details and I'll switch the project over to you

[2016-01-21 18:47] rstacruz commented on #228
neat!

[2016-01-27 00:06] robledosm commented on #203
I will change line 331 to this two
[code]
to use box.getAttribute just once

[2016-01-27 05:35] Erick-Perea-Coronado commented on #46
Algo anda mal marca el siguiente error: ReferenceError: wow is not defined

[2016-01-30 23:44] badpenguin opened #235 "slider animation"
Is there a way to trigger animation of text for slider instead of scrolling?
I tried to initialize boxclass as '.active .wow' but in the console i get a syntax error

[2016-01-31 07:46] roganoalien commented on #65
My man @pojka you rock. You save me big time on doing a lot of research and changing everything. I salute you almost 1 year after your workaround.

[2016-02-02 11:54] jitendersandhu commented on #175
+1 I am also facing the same issue. When switching views in ui-router, after scrolling down in the view, the page loads with div hidden (`visibility: hidden`) added to it. By removing `wow` class from the wrapper element, fixes the issue. But is there a better solution available. Any help will be much appreciated.

Here is the HTML i am using:

`<div class="main-wrapper wow fadeIn" data-wow-delay=

[2016-02-02 18:53] ocolot commented on #214
If you want to make sur elements are visible, no matter the user scrolled or not, you may use a "big" negative offset at initialisation:
`var wow = new WOW({offset:-9999999}).init();`

[2016-02-08 17:37] Turqueso commented on #235
Without wow.js you can try something like this
[code]
[code]

[2016-02-09 21:59] gustavoatar commented on #196
has this been resolved? @matthieua

[2016-02-12 04:44] joselo commented on #233
Thanks @graingert  it works perfect

[2016-02-12 21:42] heloisabiagi commented on #224
I've had this issue as well and, as other ones mentioned, the trick is to wrap the wow animated elements in a container with ```overflow:hidden```.

[2016-02-13 09:00] alexandruspataru commented on #115
I had  the same issue and it seems that if I'll remove the animation for the video container, it'll be ok. Well, you know, it's better to be unable to animate the video than to be unable to animate at all...

[2016-02-15 09:46] gtraxx commented on #218
Hi, Same problem. Using Firefox 44.0.2 on Windows 10.

[2016-02-16 14:03] JoshCarey commented on #136
I'll throw my hat in and also say that this would be an awesome feature.  I'm definitely no programmer, but I could probably spend way too much time getting this functionality to work with something like waypoints.js - https://github.com/imakewebthings/waypoints - or something similar.  Wow.js is just so clean and simple, I'd greatly prefer to use it everywhere for this type of stuff.  I'm definit

[2016-02-16 23:03] ishan-marikar commented on #151
Hi, I've been having the same happen to me. All the scroll events keep firing repeatedly.
All I have in my scripts are
[code]

[2016-02-19 05:20] sayhien commented on #200
Hello matthieua, I really appreciate your awesome work developing animate.css and wow.js etc. Many of us web designers/developers owe a great deal to you!

Anyway, I have no problems with delay; but offset cannot work right now.

Perhaps time for an update?

Thanks again.

[2016-02-25 18:49] henryw4k commented on #218
Having the same problem here. Any hotfixes out there right now?

[2016-03-03 13:51] danbovey commented on #166
Currently using a [fork of WOW](https://github.com/europeanautomation/WOW) just to remove the following lines:

    console?.warn 'MutationObserver is not supported by your browser.'
    console?.warn 'WOW.js cannot detect dom mutations, please call .sync() after loading new content.'

I'm testing pages without BrowserSync and any other parts of my JS modules which might add elements to the page,

[2016-03-03 16:36] vchouhan commented on #218
I'm having the same issue and I was able to fix it by updating my css. The elements are added visibility visible style and if the elements visibility is not hidden it triggers the animation 2 times.
[code]

[2016-03-04 18:51] wu88 commented on #218
vchouhan's solution worked for me. thank you!

[2016-03-06 10:26] cosecantt commented on #227
Try adding `visibility:hidden` style property for that element.
Example:
[code]
This worked for me for `fadeIn`. I have not tried for other animations yet.

[2016-03-06 10:26] cosecantt commented on #231
Try adding visibility:hidden style property for that element.
Example:

    <div class="wow fadeIn" data-wow-delay=".1s" style="visibility:hidden">
         content
    </div>
This worked for me for fadeIn. I have not tried for other animations yet.

[2016-03-08 01:34] SecureCloud-biz opened #238 "[Feature Request] -- Multiple Animations, Same Element..."
First Off, Excellent job!  :+1:
This is more of a **_feature request_** than an issue.

[code]

That's just an example, there have been many times using this where
I wanted to do multiple animations after the 1st has finished, but not the same Animation Style.

[2016-03-09 11:41] carlos-kryzalis commented on #231
Hi, the visibility didn't work for me, i used the css opacity : 0 in the wow class and used the callback on the end of the animation (https://github.com/matthieua/WOW/issues/230) to put opacity : 1. and worked.

[2016-03-10 07:14] SiamKreative commented on #185
I'm using 1.1.2 and I'm still seeing this `Uncaught TypeError: e.className.replace is not a function`

[2016-03-14 21:40] dandanidanielle commented on #231
Hey @carlos-kryzalis , I'm in the very beginning stages of working with JQuery; would you mind posting the code for the callback of your opacity solution? The visibility:hidden thing isn't working for me either, so I'm looking for alternate options but am unsure how to properly implement your solution beyond the CSS part. Thanks!

[2016-03-14 22:05] dandanidanielle commented on #231
For me, using "visibility:hidden" did not work for fixing the animation flash on the page load, but using @carlos-kryzalis' solution did. The only issue now is that my animated element disappears (sets back to opacity: 0) once the animation is complete. Any ideas on how to fix that?

[2016-03-15 03:05] cosecantt commented on #231
What animation did not work? It worked for `fadeIn` at least for me as I posted the code above. Will you post the animation you have an issue?

[2016-03-15 03:19] e-cloud commented on #228
that would be very nice to publish wow to npm as many other FE libraries did.
and it need adding a file to export it.

One more, @matthieua , there is a dependency which is `animate.css` missing in `bower.json`

[2016-03-15 14:27] carlos-kryzalis commented on #231
thats the code that worked for me:

`<style>
.wow{
    opacity: 0;
}
</style>
<script>
        function afterReveal( el ) {
          el.addEventListener('animationend', function( event ) {
            $('.wow').each(function(){
                $(this).css('opacity',1);
            });
          });
        }
        new WOW({ callback: afterReveal }).init()
</script>`

[2016-03-15 17:28] dandanidanielle commented on #231
Thanks for posting this!

[2016-03-22 14:04] kemie opened #240 "Licence Change?"
I'm pretty sure this used to be MIT-licenced. When (which version) did this change?

[2016-03-23 12:43] vfonic commented on #240
v1.1.2
https://github.com/matthieua/WOW/tree/1.1.2

[2016-03-23 12:47] vfonic commented on #217
+1 not working before scrolling

[2016-03-23 22:30] matthieua commented on #240
Hey guys, yes that's right I added a commercial license to it and moved a GPL v3 license, I was getting too many emails about issues, questions from people using to resell themes or other commercial use cases. It's still completely free for personal use / non profits though.

[2016-03-23 22:30] #240 closed

[2016-03-24 17:34] vfonic commented on #240
Version 1.1.2 is still under MIT license, since it was released under that license. That one is possible to use free of charge for any purpose, that doesn't break the MIT license.

[2016-03-24 17:39] matthieua commented on #240
Absolutely!

[2016-03-30 00:55] kat2014 opened #241 "Is it possible to reverse the animation when scrolling back up the page?"
This is a great tool. It might be able to replace a lot of my classie.js scripts, which were becoming bulky and extremely hard to manage. What i like about classie though is that i was able to get the animations reverse when you scroll back up the page. Is this possible with wow?

[2016-03-30 01:02] kat2014 commented on #136
I too am looking for ths type of solution with wow. Currently i am using classie.js but I have to manually determine and reset shrinkOn value off the page distance scrolled each time i add or remove elements to my html which is becoming impossible to manage. I woudl love to transition to using wow, as it seems to be a really nice and simple solution otherwise.

[2016-03-30 01:04] kat2014 commented on #241
Ah, I see this is already a [very common request](https://github.com/matthieua/WOW/issues/136). I will cross my fingers for a solution soon. I wish i had the know how and skills to contribute.

[2016-03-30 17:10] Saw9b3 opened #242 "WOW + mCustomScrollbar = conflict"
I have trouble with WOW when using mCustomScrollbar
I found the reason, it is
[code]

when i remove that hight, custom SB does not display.

Help pls, what i shold do with that problem ?
sry for bad eng XD

[2016-03-31 08:44] Saw9b3 commented on #242
Solved

[2016-04-05 12:44] kat2014 commented on #217
I am also having the same issue. What a shame there has not been an update to this problem. I love this wow.js and would love to use it on one of my sites.

[2016-04-05 13:14] kat2014 commented on #160
hmmm. i am also having this problem and now am not sure how to resolve my issue. i thought setting 0px offset would do the trick, but as you say, some people do not reach so low on the page ever....

[2016-04-06 01:20] zodern commented on #65
It seems to be supported now:
[code]

[2016-04-11 17:33] SimplGy opened #243 "element.getElementsByClassName is not a function"
I wish I had more detail for you here. I can't figure out what's going on, just now jumping into someone else's code base.

![image](https://cloud.githubusercontent.com/assets/548809/14436134/80389d4e-ffd8-11e5-96a4-46a1cd81107d.png)

![image](https://cloud.githubusercontent.com/assets/548809/14436090/490795be-ffd8-11e5-8d32-7c8f03d0342c.png)

I paused at this breakpoint. Looks like `this.element.

[2016-04-11 17:34] SimplGy commented on #243
Looks like WOW v0.1.12

[2016-04-11 17:38] SimplGy commented on #243
Hey sorry, that version was the giveaway. For some reason our bower file had a very old version locked in without async support. Probably the other developer had some local override so he never saw the issue.

[2016-04-11 17:38] #243 closed

[2016-04-12 09:59] Wtower commented on #155
+1

[2016-04-12 12:17] Wtower commented on #155
I am not entirely sure how relevant the following is regarding the present issue, but here is how I used browserify-shim to get wow work with browserify, in case somebody lands here looking for help:

    $ npm install -D browserify browserify-shim wow.js

package.json append:

    "browserify": {
      "transform": [ "browserify-shim" ]
    },
    "browser": {
      "wow": "./node_modules/wow.js/

[2016-04-16 00:48] azat-io commented on #234
The same question

[2016-04-18 18:44] omarel1 opened #244 "Show animation sooner on scrolldown and entrance"
Is there a way to change how soon the animation starts triggering. I know there's a delay option, but I'd like to show all animations trigger sooner as the user scrolls down and the div starts showing in the browser. On my end, there's a large delay I'd like to shorten.

[2016-04-28 16:01] nachshonfertel opened #246 "Wont work on one of my websites."
When i add the 'wow' class to my element, when i scroll to it, it only disappears. No animation happens? Why? There is no errors in the console either. I used it on another website also, and it works. But for some reason, not on this one. Any ideas why?

[2016-04-29 15:32] cusspvz commented on #228
+1

[2016-04-29 15:33] graingert commented on #228
@cusspvz you can "npm install wow.js"

[2016-05-04 13:43] Tiger-Di opened #247 "Using WOW.js with SharePoint"
I am trying to get this to work with Sharepoint site. I have tried putting '#s4-workspace as the scrollContainer, as I know Sharepoint uses this as the scrolling container, but still doesn't work. The rest of the wow works fine, but elements will stay hidden as you scroll down.

Any ideas?

[2016-05-06 14:13] matthieua commented on #228
I've just publsihed it under `wowjs`, sorry for being that slowow.
https://www.npmjs.com/package/wowjs

[2016-05-06 14:13] #228 closed

[2016-05-06 14:14] graingert commented on #228
@matthieua do you want access to wow.js ?

[2016-05-06 14:22] matthieua commented on #228
@graingert it's fine, can you delete it maybe?

[2016-05-06 14:23] graingert commented on #228
@matthieua actually I'm keeping it as I need it under the MIT. Sorry

[2016-05-10 05:42] guptanuj commented on #115
Hi Everyone,
I have a solution for it you may add this code in js this will remove animated class once one time animation done.

$('.wow').each(function(){
			$(this).	one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
				function () {
				$(this).removeClass('wow, animated');
				});
		});

[2016-05-10 16:43] BC17 commented on #150
Same issue here on firefox with 3 element inline block, with different data-wow-delay, the third is still visible. visibility hidden not working

[2016-05-10 16:51] BC17 commented on #150
Ok I fixed it by removing the data-wow-delay="2000ms" and put an inline style animation-delay: 2000ms;

[2016-05-10 20:04] vmarco57 opened #248 "ument"

[2016-05-10 20:05] vmarco57 commented on #248
Please delete

[2016-05-10 20:05] #248 closed

[2016-05-11 20:20] cusspvz commented on #228
@matthieua thanks for publishing it!
Meanwhile, I can't use it because it isn't exporting the `WOW` constructor by default, could you please implement an UMD loading instead?

Do you want me to help you with that process?

[2016-05-11 20:29] cusspvz commented on #228
Well, just did it. Please a look at it.

[2016-05-11 20:30] graingert commented on #228
@cusspvz `npm install wow.js` supports UMD and is MIT licensed. It will always be free to use with proprietary software

[2016-05-11 20:54] cusspvz commented on #228
@graingert I've seen that you've made lots of changes on it. I've regarded all the pros and cons and I prefer to use my local version (the day I've commented I just grabed the dist file, applied UMD and used it locally, seems I'm gonna to continue using it that way until this repo has a published module with UMD support.)

Thanks anyway and sorry for not using it.

[2016-05-11 22:31] GSCube commented on #217
Same problem here ;(

[2016-05-20 17:46] PierreGallet commented on #65
ScrollContainer is not working with md-content from angular. things remains hidden...

[2016-05-21 10:50] leealexey commented on #73
You can add "overflow-x: hidden;" to the "body" tag

[2016-05-23 03:06] redesigned commented on #136
+1 I'd even just settle for resetting the element when it leaves the page and re-revealing it when it re-enters the page.  Which should be fairly simple, right?

[2016-05-24 02:10] jasonlam0619 opened #252 "WOW not defined using npm package."
I did this:

`npm install wowjs`

and required it:

`import WOW from 'wowjs`

and tried to use it:

    let wow = new WOW({
      boxClass: 'wow',
      animateClass: 'animated',
      offset: 0,
      live: true
    });

But I got `Uncaught ReferenceError: WOW is not defined` at console.

[2016-05-25 00:55] rosskevin commented on #159
I hacked this with some ES2015:

[code]

[2016-05-26 21:08] Brullworfel opened #253 "Offset on HiDPI displays"
Incorrect processing of offset option on HiDPI displays. For example if I set offset to 100, animation starts at ~50px on MacBook Retina.

[2016-06-06 11:09] jscontrust commented on #136
+1

[2016-06-06 21:46] brycefranzen commented on #225
I'm having this issue as well

[2016-06-08 10:10] graingert commented on #252
@jasonlam0619 run:
[code]
[code]

[2016-06-11 14:52] Mexikaner9 opened #254 "nothing appears in Internet Explorer 8"
Hello
I tested your fantastic script and it works great. With the exception of Internet Explorer 8. Each element with the class WOW FADEIN will not be displayed.
What I have to do to see everything in Internet Explorer 8. I know the effects do not work in Internet Explorer 8.
thank you in advance

[2016-06-13 10:58] graingert commented on #254
This is because animate.css defines fadein to be invisible by default, then animate to appear.

Simply wrap animate.css in `` tags:

[code]

This will also work on https://wow.js.org and you won't have to release your applications source code!

[2016-06-13 12:51] Mexikaner9 commented on #254
Thank you very much for your answer!
Have a nice day

[2016-06-15 18:54] anetk opened #255 "I'm using FullPage.js only 1st page works"
I'm using this: http://alvarotrigo.com/fullPage/
and here is my html:
<div id="fullpage">
    <div class="section" id="section0">
       <div class="myContent">
         <div class="col-6 wow fadeInUp" data-wow-duration="2s">
           <img src="img/Endorssm-Phone.png" />
          </div>
        </div>
    </div>
    <div class="section" id="section2">
       <div class="myContent">
         <di

[2016-06-15 19:52] anetk commented on #61
My issue is -- on my first scroll it shows but than on the second puts visibility: hidden... How to fix this?

[2016-06-16 17:15] graingert commented on #255
@anetk do you have a JS fiddle with your code on?

[2016-06-16 17:16] graingert commented on #255
@anetk or just the page where you're using this.

[2016-06-16 17:29] graingert commented on #255
fwi you should use
<pre lang="markdown"><code>```html
&lt;div id=&quot;fullpage&quot;&gt;
  &lt;div class=&quot;section&quot; id=&quot;section0&quot;&gt;
    &lt;div class=&quot;myContent&quot;&gt;
      &lt;div class=&quot;col-6 wow fadeInUp&quot; data-wow-duration=&quot;2s&quot;&gt;
        &lt;img src=&quot;img/Endorssm-Phone.png&quot; /&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

[2016-06-16 17:35] anetk commented on #255
I just tried to make something quick in codepen -- http://codepen.io/netk/pen/pbbZLy see if you can see the source and do something..

[2016-06-16 17:39] anetk commented on #255
it seems to be working now in my original case. but animation happen on window loading instead of once I actually scroll to that section... Do i have to set that manually with js?

[2016-06-16 17:40] graingert commented on #255
@anetk I can't see your page working you're using a lot of resources that arn't on that page. Can you link me to the site that you're actually using this on?

[2016-06-16 17:41] graingert commented on #255
@anetk please not that by linking to this wow.js project you MUST release your website under the GPL. Please consider switching to the official https://wow.js.org library.

[2016-06-16 17:47] anetk commented on #255
Sure. Ok look at this now - http://codepen.io/netk/pen/pbbZLy - i cleaned it up a bit. You will see that 1st one works great but than on the next scroll not...

[2016-06-16 17:51] graingert commented on #255
I'm not sure what's going wrong, can you remove all the html unrelated to the error.

[2016-06-16 17:53] anetk commented on #255
See now - http://codepen.io/netk/pen/pbbZLy

[2016-06-20 07:23] vivekkupadhyay commented on #46
@ugurerkan thanks a lot mate, you've saved my day.
that's really great snippet, I was really wondering what will be the best solution and you just provided already.
Thanks!

[2016-06-21 12:45] alvarotrigo commented on #255
Check [fullpage.js FAQs](https://github.com/alvarotrigo/fullPage.js/wiki/FAQ---Frequently-Answered-Questions). The `scroll` event isn't propagated by fullpage.js as it doens't really scroll the site. It uses translate3d transformations unless you use `scrollBar:true` or `autoScrolling:false`.

[2016-06-22 00:54] anetk commented on #255
thanks. I also had issues with huuuge space on one side on the mobile... Is that some common issue?
It looks very strange... Thanks

[2016-06-23 15:07] GranitSahatqija commented on #222
when you configure WOW, at animateClass add the desired class like:

[code]

[2016-07-01 19:52] sahibvirk commented on #136
+1000

[2016-07-01 19:57] graingert commented on #136
Pull requests accepted on https://github.com/graingert/wow the official https://wow.js.org source

[2016-07-01 23:52] autvincere commented on #175
thanks guys, work perfectly :) .

[2016-07-02 09:04] cuongpx commented on #34
Its run slow in Iphone.! Hepl

[2016-07-03 12:41] AQUAMANUK opened #256 "wow.min.js in mobile view bug"
Script creates a  large gap between tags and post titles on Posts only in pad and mobile views. Not sure why? example http://www.aquaticdesign.co.uk/london-aquarium-supplies/

[2016-07-14 07:37] alezzzzz commented on #217
Same issue here, ¿has anyone found a solution?

[2016-07-21 05:07] ganeshrahul opened #257 "animate it back on scroll up"
When i scroll down it animates no issues on that
Is there any way to animate it again when i scroll UP

[2016-07-21 08:59] graingert commented on #257
@ganeshrahul works for me on https://wow.js.org https://gfycat.com/ExaltedJovialCockatoo

[2016-07-26 21:19] samhavens commented on #155
To echo what @pcavanaugh said, to get WOW working with Browserify, I had to download the AMD branch, then change a few `this`s to `window` to get it to work.

[2016-08-02 08:14] Timo-Linde commented on #202
+1

[2016-08-09 18:58] 1xxxx opened #258 "@MATTHIEU"
Hello！@MATTHIEU, excuse me.Study program for a short time, my English is very poor. I hope that you have read and agree to my request.I saw the license is required, do you if the "WOW" installed on your resume, but I will signature CSS author, your name. this business model?

[2016-08-13 20:17] ATouhou opened #259 "Uncaught TypeError: Object [object Object] has no method 'set'"
Following error: Uncaught TypeError: Object [object Object] has no method 'set'
In file wow.min.js  on line 166
Version: WOW - v1.1.3 - 2016-05-06
Happens in following browsers;
Mobile Safari 9.0 & Chrome Mobile 51.0.2704
On Operating Systems:
iOS 9.3.2, & Android 5.1

[2016-08-13 20:18] ATouhou commented on #259
Any ETA on fix or temp fixes?

[2016-08-13 20:19] ATouhou commented on #259
Also this bug:
ReferenceError: Can't find variable: WOW
Happens when init.

on some of the iOS devices.

[2016-08-16 18:40] ATouhou commented on #259
Was this project abandoned?

[2016-08-16 18:57] ATouhou commented on #259
@attilaolah

[2016-08-31 17:59] xstortionist opened #260 "Mobile False Not Working"
Just tested this on my mobile device, a few weeks ago mobile false was working as expected, now when accessing the site on mobile device all of the wow animations are running.

`new WOW({
        offset: 300,
        mobile: false
    }).init();`

I see no errors in console :/

[2016-08-31 18:21] xstortionist commented on #260
Disregard, my dumbass initializing wow twice after my callback function.

[2016-08-31 18:21] #260 closed

[2016-09-01 19:32] renatorib commented on #234
If you are using webpack: http://stackoverflow.com/questions/35099440/wow-js-with-webpack-and-react

If not, thats no secret.

[2016-09-05 23:12] damiancpalmer opened #261 "Change Data/Delay on mobile"
Is there a way to set a different delay and duration based for mobile devices? The delays that look good on a desktop take too long for mobile. How can I fix this other than just disabling wow.js?

[2016-09-06 15:44] aaesis commented on #252
Hi grain I used wow.js instead of wowjs, because it is not working with import ... from 'wowjs'

and then tried the code you have provided.

when I run in my html
`<h1 class="nomargin size-50 weight-300 wow rollIn" data-wow-delay="0.5s">
                blah blah
            </h1>
            <p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">
               blah blah

[2016-09-08 14:33] umairrazzaq opened #262 "issue with jScrollPane"
Hi, I'm using WOW.js with jScrollPane, wow.js does work without jScrollPane, but not with it. I've tried to find solution via Google or Github repo, but haven't find any solution. So it would be highly appreciable if you solve this issus. Thanks

[2016-09-08 14:37] umairrazzaq commented on #262
I guess wow.js works with default scroll behavior, but jScrollPane disable that one and go with its own on initiating jScrollPane.

[2016-09-16 08:06] geekofcola opened #263 "How to disable function?"
Hello , Matthieua!
How to disable the function when the page is reloaded in the middle of the page?

[2016-09-16 14:05] VanDavv commented on #252
I got  this error when using @graingert example

[2016-09-18 20:29] mescoff commented on #244
Same problem here

[2016-09-19 23:55] RobertGres opened #264 "Problem with this/window using require()"
Hi, @matthieua !

When requireing wowjs with browserify using node package or simple js file, `this` inside an iife becomes `module.exports` instead of originally intended `window` object.

So I propose instead of using something like this:
`MutationObserver = this.MutationObserver || this.WebkitMutationObserver || this.MozMutationObserver ...`
Write explicit code like this:
`MutationObserver = wi

[2016-09-20 17:28] graphan commented on #252
@graingert unfortunately, the code you mentioned does not work. Something changed?

[2016-09-22 04:00] cyn3rgy commented on #150
I had the same problem. I added wow tada classes to a parent div and that stopped it showing up before the animation....   not sure why though.

[2016-09-22 14:19] alex-salychev opened #265 "Animates do not work correctly in Google Chrome"
Hello, everyone!

I have a weird ploblem only in Chrome - Version 55.0.2867.0 canary. It seems that Chrome has a strage **time delay** when I scroll to the proper block but I did NOT set this. It smoothly works in Firefox and Opera but does NOT in Chrome. It looks like my site freezes and than all of a suddetn the block shows. It's very awful!

I do not know how to fix this bug.

[2016-09-23 23:00] apbassi89 commented on #217
Same issue.

[2016-09-24 16:05] prosarmientolou commented on #217
For me the solution is to give fix height for the slider container,  in my case i just add a height for the container of my layerslider same height as the height of the slides and that fixes it.  I hope this can help.

[2016-09-28 22:00] kaueb commented on #252
@graingert i have tried this code, but did not worked :/

[2016-09-30 09:14] pawelszroeder opened #266 "Another animation of element after click"
Hi! I wonder if is possible to start different animation of element after click, I mean logo is fadeInDown on start and fadeOutUp after click.

I tried with jQuery but without progress.

[2016-10-02 16:46] ReliQ commented on #264
I have the same issue. @matthieua would you have a look at this issue?

[2016-10-03 08:29] saske505 commented on #185
Is this still being investigated or did the merge fix the issue?  `jqbdl.min.js:437 Uncaught TypeError: t.className.replace is not a function`

[2016-10-21 09:08] dongepulango commented on #200
Same here.

[2016-10-30 08:06] Codingba opened #268 "Hello, is wow.js free to use for sites witch i make for my clients"

[2016-11-01 11:43] atussec commented on #244
use the data-wow-duration="500ms" and data-wow-delay="400ms" to shorten the time

[2016-11-08 08:41] atishoo commented on #153
it still do not work

[2016-11-10 16:46] pcortezj commented on #46
I got you fam

 function isElementInViewport(elem) {
    var $elem = $(elem);

    // Get the scroll position of the page.
    var scrollElem = ((navigator.userAgent.toLowerCase().indexOf('webkit') != -1) ? 'body' : 'html');
    var viewportTop = $(scrollElem).scrollTop();
    var viewportBottom = viewportTop + $(window).height();

    // Get the position of the element on the page.
    var elemTo

[2016-11-10 16:47] pcortezj commented on #46
I got you fam

` function isElementInViewport(elem) {
    var $elem = $(elem);

    // Get the scroll position of the page.
    var scrollElem = ((navigator.userAgent.toLowerCase().indexOf('webkit') != -1) ? 'body' : 'html');
    var viewportTop = $(scrollElem).scrollTop();
    var viewportBottom = viewportTop + $(window).height();

    // Get the position of the element on the page.
    var elemT

[2016-11-21 19:41] phele commented on #265
I have the same problem all every websites with Bootstrap carousel. The content of the footer disappearing when the carousel slides to the next one, then reappearing again. This only happens when the carousel haven't gone through all the slides. An example here: http://www.mypathwellness.com/

When the page loads (don't wait for the carousel to slide through all slides), scroll quickly down to the

[2016-12-07 20:15] jsantana90 commented on #252
any luck here?

[2016-12-07 20:40] kaueburiti commented on #252
@jsantana90 i totally give up

[2016-12-07 21:16] jsantana90 commented on #234
I'm getting errors and the answer from @renatorib doesn't seem to be my issue.

I do `import WOW from 'wowjs';`

[code]

but I get `TypeError: _wowjs2.default is not a constructor`

If I do `import { WOW } from 'wowjs';`

I get

[code]

If I do

[code]

Notice the `wow.sync()`

I get `TypeError: Cannot read property 'nodeType' of undefined`

Stuck there :(

[2016-12-09 15:28] diegoangel commented on #242
How do you solved it?

[2016-12-10 16:32] evh671 opened #269 "CSS Property "overflow-x: hidden" disables the visibility and animation-name on the Div"
Dear Matthieu,

First of all, I would like to thank you about your wow.js product.
It's really a great library and users like its effect right away.

I have noticed for a major issue and it will be great if you can assist.

I have developed a website for a scuba diving club : www.zenscubadiving.com
( I purchased a wow.js license for using it in my website ).

I got an issue that when the site is o

[2016-12-11 12:00] cms-admin opened #270 "Error line 357"
config is not defined.
I corrected so:
`return target.className = target.className.replace(event.animationName, '').trim();`

[2016-12-19 08:59] itaditya commented on #246
I am having the same problem although I have specified the container element in the config object .

[2016-12-19 16:38] suncoastkid commented on #252
Same issue here...

[2016-12-22 19:09] ryanscherler opened #271 "Rollup.js Error "The 'this' keyword is equivalent to 'undefined'""
Seems that `this` has a difference context within rollup? See error I get on compile:

[code]

https://github.com/rollup/rollup/wiki/Troubleshooting#this-is-undefined

[2017-01-03 11:05] Pythorogus commented on #98
Hi, got the same problem. Is there a fix now ?

[2017-01-03 16:01] mike3run commented on #185
same thing happening to me :/

[2017-01-12 08:18] CarlosRGL commented on #268
Commercial license

If you want to use WOW.js to develop commercial sites, themes, projects, and applications, the Commercial license is the appropriate license. With this option, your source code is kept proprietary. Purchase a WOW.js Commercial License at uplabs.com/posts/wow-js-commercial

Open source license

If you are creating an open source application under a license compatible with the GN

[2017-01-13 20:41] shealan commented on #252
Same issue. Surely rather important as most developers are using NPM dependencies these days?

[2017-01-14 06:08] jjcweb commented on #196
I know this is an old thread, but it appears that I am having the same issues with wow.js and the Google Search Console's "Fetch As Google".  Can @gustavoatar or someone else tell me how this was solved as noted on the post from 2/9/16?  Thanks.

[2017-01-14 20:10] jberg1 commented on #196
Love this script! I'm using the commercial license.
But it does look like Google Fetch isn't seeing it. I tried playing with the "live" setting (act on asynchronously loaded content), and toyed with overriding the visibility setting in css. No affect. Any solution for this? or a resolution?

I am using it on dynamic content but it is loading with the page. It seems like Google Fetch doesn't recogn

[2017-01-15 21:36] dongepulango opened #272 "Only load animations on window/tab focus"
I want to load the animation only when the window or tab is focused. I don't want the animations to star immediately when I open the page on a new tab. Is there a way to do that? Thanks in advance.

[2017-01-17 04:50] matthieua commented on #196
@jberg1 I've never used Google Fetch but never had issue with Google crawling the content so far.

I can't think of an elegant solution (apart from rendering static content accessible by crawler which is not ideal). Happy to hear anyone's suggestions on this one?

My suggestion would be not to hide content that is crucial for SEO or at least making sure it's visible when JS is turned off.

[2017-01-18 16:36] jotasgarcia opened #273 "The text animation changes after the first slide. WOW.js library"
I currently have a carrousel, in which there is a transition of several slides. I have an initial animation, which is perfect. As is the desired effect. Consists of the appearance of texts, which are executed one by one, according to the delay of the library. My problem consists of the following slide, the effect changes, the texts appear by default and perform the animation while the texts are di

[2017-01-20 14:34] weilinzung opened #274 "Disable WOW on mobile devices & Run one time"
Is there a way to set Wow disable on mobile devices which I want it only do the animation on desktop?

And when I resize the browser window, the animation would play it again and again, do we have an option that only play one time when land the page?

For example, I land on the page in normal desktop size, the animation would play.
If I hide a Div (this element has wow animation) on small devices,

[2017-01-25 06:51] #258 closed

[2017-01-25 17:06] vishy93 opened #276 "WowJS won't work with Bootstrap modal even with wow.sync"
Hi guys I would like to use wowJS in my Bootstrap modals, but unfortunately it does not work. Before posting here I did some research and found out that wow.sync should do the trick, thus tried:

`$('#myModal').on('show.bs.modal', function () {
  WOW().sync();
})`

Also, tried within document ready and window load. Neither worked and I get the error:

wow.min.js:2 Uncaught TypeError: this.util is

[2017-01-25 17:44] badalsurana commented on #252
same issue here, anyone found any solution?

[2017-01-26 06:51] maruful opened #277 "Not working on jQuery-2.2.4"
wow is not working on jQuery-2.2.4 ,, What should i do ?? help me someone plzz

[2017-01-28 20:22] vishy93 opened #278 "WOWJS sync function causes error"
I am trying to use the sync function to get wow to work in my modal but looks like there is an error with wowjs.

I am initiating wowjs via:

`var wow = new WOW(
                      {
                      mobile:       true,       // default
                      live:         true        // default
                    }
                    )
                    wow.init();
`

Then I am using t

[2017-02-01 01:13] jlmakes commented on #268
@Codingba No.

[2017-02-01 05:57] Jaikant commented on #234
@johhansantana

Your code worked for me, I just had to include the script into my html file
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>

if (typeof window !== 'undefined') {
 let WOW = require('wowjs');
}
  componentDidMount() {
    if (typeof window !== 'undefined') {
      const wow = new WOW();
      wow.init();
    }
  }

[2017-02-05 09:23] sera2007 commented on #175
You just need to do "new WOW().init();" every time, when you show the hidden content.

[2017-02-09 21:30] interphased commented on #252
Not sure if this helps, but I got it to work using `require` and adding it to `window`.

_bootstrap.js_
[code]

_whatever.js_
[code]

[2017-02-10 09:08] dedene commented on #265
We're having the same issue with the latest Chrome 57.0.2987.37 beta - on Safari of Firefox no problem at all, on Chrome most animations start with some random delay.

Has anyone been able to fix this or find the root cause?

[2017-02-11 04:06] nucamoz opened #279 "Example how to set up with Vue?"
Hello. Thanks for great library. I am new to Vue, so it's pretty hard for me to figure out how to set up simple animation with Vue and WOW.

Can someone please show me how to do that or at least give me some tips? Thank you.

[2017-02-21 10:40] mark4th opened #280 "Mall Music driving me NUTS!!!!"
I have music disabled in the game.  I have its volume set to zero.  NO music should ever play but the instant i stone back to the mall the single most annoying tune in the entire game starts playing.  Please make the mall music honour my music settings, this music makes my teeth itch! lol

[2017-02-22 08:38] smappdooda commented on #65
Does this actually officially work now or still no?

` new WOW({
    scrollContainer: '.scroll'
  }).init();`

I have tried it and can't get it to work. I have a center column div set to scroll and I cannot for the life of me get the animations to work (unless I stretch the bottom of the browser window)

[2017-02-25 23:14] boldc opened #281 "Possible issue with Internet Explorer 11?"
I've tested WOW on a website, but in Internet Explorer 11 the animated elements are hidden, and then appear a second later, ostensibly once .animated {animation-duration: 1s;} has completed. Any idea what might be (not) happening?

All the animations are working when viewed with Chrome and FF.

[2017-02-26 14:30] jlmakes commented on #257
I do not believe this feature exists.

WOW uses CSS keyframe animation, which unlike CSS transitions, do not easily reset/replay. Plus, imagine a `bounceIn` animation for example, even if you could toggle the animation, you wouldn't simply want that to play in reverse... you'd want to use a `bounceOut` (or a simple `fadeOut`).

[2017-03-02 11:14] Maculotti commented on #115
Hi everyone,
I had the same problem too. I fixed this in plain css:

[code]
 just add the class ".bugfix-fullscreen" at each element that contains an iframe an have the class .animated

[2017-03-02 22:26] jrmyptrs opened #282 "Initiate WOW on items that are partially above the fold?"
I'm using WOW in several pages in a Shopify theme - on most templates, WOW works right away on page load. From my very basic understanding, this is because these items are already above the fold and visible, thus WOW animates them right away.

Is there a way to make it so that items that are only partially above the fold/in the viewport also get initiated? The problem I'm experiencing now is on on

[2017-03-03 16:30] jrmyptrs commented on #282
I've found a hacky way to work around this for now by using jQuery to change the visibility of the first item on said template, which works, but would still love to hear any suggestions or input for a better fix.

[2017-03-05 02:31] MohammadDayeh commented on #231
using .wow { visibility: hidden; } worked for me

[2017-03-06 00:55] mbtocalli commented on #218
IE doesn't shows the animated elements using that solution

[2017-03-06 01:00] mbtocalli commented on #227
After aplying the hidden style property, the element is not showing in IE. How to fix that?

[2017-03-07 07:34] cosecantt commented on #227
Did you do the exact same way? What version IE are you using?

[2017-03-08 05:39] abelmark commented on #269
Did you ever get this resolved?

[2017-03-08 22:02] iBars opened #283 "Element doesn't appears when scroll down. You need to scroll down, then wait, then scroll up"
Just subject.

URL: http://derka-pickup.ru/mr-derka/pikap-trener

[2017-03-09 20:49] bartoszt commented on #175
I had similar issue and I solved that removing
`body, html { overflow-x:hidden; }`

from CSS file 🥇

[2017-03-10 16:26] jeremyrschroedercd2 opened #284 "Wow JS is causing text to strobe at the top of website"
My content that is usually animated in the middle of the page is showing at the top and stobes ( flash on and off at the very top of the page). I don't get it all the time - it is hard to replicate.

[2017-03-16 15:29] remi-lebigre opened #285 "WOW inside iframe"
Hello,

I would like to use this library into an iframe, but all the wow events trigger at the same time, when the iframe is loaded.

**Is there a way to get WOW scroll event inside an iframe?**

(WOW js works fine on the iframe src when run in a new tab)

[2017-03-18 16:31] ruchern commented on #252
`new WOW.WOW().init();`

in your HTML file works instead of having to place it in your `app.js` to compile.

[2017-03-20 19:54] boldc commented on #281
Additional info: I believe this is a Bootstrap conflict issue.  The site is using BS v3.7.0, and on mobile resolutions (768px an under), the WOW animations play correctly.  But over 768px, and I get the aforementioned behavior in IE.

Any guidance on this issue is greatly appreciated!

[2017-03-23 06:49] #263 closed

[2017-03-27 22:24] HacKanCuBa commented on #211
same here for latest v1.1.0

[2017-03-28 08:28] bryanrasmussen opened #286 "'MutationObserver is not supported by your browser.' In Firefox Developer"
I'm getting the message MutationObserver is not supported by your browser. using Firefox developer.

If I do console.log(MutationObserver) I get back function ()
If I do console.log(MozMutationObserver); I get a reference error, as I would expect.

[2017-04-04 02:42] NickyBlaxx commented on #175
Hi All,

FINALLY!!
I had the same issue, i think: When i loaded the page, my elements would appear without having to scroll, but when i clicked a Filter-Button (Category), i would have to scroll in order for the elements to show. I think i may have tried every option that has been posted on many sites and nothing seemed to work for me..., the exception, that if one or two did work, it caused somet

[2017-04-04 12:30] xlcrr opened #287 "Change class and trigger new animation?"
I have a list being populated. Once it reaches a certain length, I want to change the animation class of the first item and remove the item from the array with a new animation

Using Laravel 5.4 and Vue2

[code]

[2017-04-04 19:40] adammoisa commented on #33
@attilaolah You're a winner.

[2017-04-13 11:08] shrpne commented on #209
please keep dist/wow.js

[2017-04-19 06:46] iamrobert commented on #48
Isotope has events - so - you can trigger onArrange when filtering.
http://isotope.metafizzy.co/events.html

[code]
.wow-iso {display: hidden;}

You can also call it something like this:
[code]

[2017-04-20 05:58] kat2014 opened #288 "Any way to make animations less drastic?"
I'd like to do have two divs smoothly and slowly fade in (2s), and OUT from the center away from each other, as if they are fading in from the center and appearing side by side. The only way I can achieve this is to apply fadeInLeft to my right div and fadeInRight to my left div, but they you can see them slide in from all the way accross the other side of the screen, and they don't seem to really

[2017-04-21 22:07] tqhao94 opened #289 "animation trigger on scrolling even out of sight"
Hi,
I'm having a problem that is all the animation are triggered when scroll, even if the component is not in the view port.
Does anyone have this problem ?
Thank you.

[2017-04-27 15:10] amichel86 opened #290 "data-wow-delay not working in Firefox"
Hello, has anyone encountered this problem? It looks like the "data-wow-delay" doesn't work in the latest Firefox version. The element is visible but the animation not triggered.

<h1 class="wow slideInRight" data-wow-delay="0.5s">Title</h1>

Thank you if you have any fix :)

[2017-04-27 15:12] amichel86 commented on #280
I think you have the wrong GitHub haha

[2017-05-04 11:31] lukeshiels commented on #264
+1

[2017-05-04 18:08] rjsnh1522 commented on #46
I am getting wow is not defined .. please help me to solve this issue.

[2017-05-04 20:12] ugurerkan commented on #46
You need to modify WOW object after wow.js loaded. @rjsnh1522
So, please check is that javascript file or script block which is placed these modifications loaded after wow.js file.

btw, created a working example here https://jsfiddle.net/ugurerkan/53641ovn/

[2017-05-05 04:23] rjsnh1522 commented on #46
Hi,

Thanks it worked.

*Regards...*
*pawan chaurasia*
rjsh1522@gmail.com
7737295416

On Fri, May 5, 2017 at 1:42 AM, Uğur Erkan <notifications@github.com> wrote:

[2017-05-07 16:46] iamrobert commented on #175
A simple workaround is on browser refresh scroll to top:

[code]

[2017-05-10 08:09] Ali-Alzantot commented on #46
try to add this

window.addEventListener('scroll', function(e) {

                if( $(window).scrollTop() <= 50) {
                    $('.wow').removeClass('animated');
                    $('.wow').removeAttr('style');
                    new WOW().init();
                }

});

[2017-05-14 08:09] alexrmacleod commented on #196
So should I turn off wow, wait for google to crawl and get data? then turn it back on? Really messing up my seo

[2017-05-16 01:54] PaulBiod commented on #196
I don't think it's considered as cloacking if you disable wow for google bots as far as the content with or without wow is the same.

You can use :
if(!ereg("Googlebot", $_SERVER['HTTP_USER_AGENT'])){ new WOW().init();  }

Hope it helps...

[2017-05-17 14:54] adammoisa commented on #252
This didn't work either. I used `new WOW.WOW().init()` but it still doesn't work. I can see in the rendered html that the animated class is indeed being added, but the animation doesn't run.

[2017-05-17 14:55] adammoisa commented on #234
Supposedly you're supposed to double the WOW and write `new WOW.WOW().init()` but it still doesn't work. I can see in the rendered html that the animated class is indeed being added, but the animation doesn't run.

[2017-05-17 15:02] ruchern commented on #252
@adammoisa Did you import WOW in anywhere of your scripts?

[2017-05-18 10:57] Steven-Garcia commented on #252
I'm getting the same problem, it used to work fine with this line in the controller: new WOW().init(); and importing the script in the index.html, now I get the same error and it just won't work at all

[2017-05-18 11:38] adammoisa commented on #252
@Ruchern yes of course. As I said it adds the animated class to the HTML which I think implies the package is 'working' to some degree...

[2017-05-18 13:34] ruchern commented on #252
@adammoisa I'm sorry. I did not mean that.

Do you have `window.WOW = require('wow-js')`?

[2017-05-18 14:14] Talha332 commented on #46
it's working thanks Ali-Alzantot 💯 % working

[2017-05-21 19:09] arthens commented on #166
I'm getting this warning on chrome 57.

[2017-05-21 20:22] arthens commented on #264
Just ran into this problem too

[2017-05-22 12:43] dnk588 commented on #284
Same issue! Happening in Chrome only. And only for special elements, for example:

<div class="quote wow fadeInUp">
Speed is important
<div class="autor">
<div class="yellow-line"></div>
<span class="name">Autor name</span>
</div>
</div>

So Autor name will apear on top. Also it's happening in wordpress, so wordpress wrapping span in p, maybe this is also the reason. Will look for more details.

[2017-05-23 21:21] jeremyrschroedercd2 commented on #284
Here is the page i was having trouble on - if that helps:  http://portal1.cd2learning.com/home.aspx
It pretty easy to find the problem though you might have to scroll all the way down before you notice it - no luck with understanding a solution though:

[2017-05-24 03:33] dnk588 commented on #284
In your example i see text in blocks disappearing for a second, going on top, then appearing again at the place it mentioned to be.
It don't looks solved)
Using chrome Version 58.0.3029.110 (64-bit) on mac

[2017-05-24 08:44] alan-mroczek commented on #196
It's strictly prohibited by google if they detect that, they will ban your site. Don't do it.

https://support.google.com/webmasters/answer/66355?hl=en

[2017-05-24 08:53] alan-mroczek commented on #196
@PaulBiod It is cloacking, because hash of entire html of site is different for google and for regular user. They will compare that and they will block your site some day. You can learn more at google support link which I sent. Matt Cuts, Google SEO expert there also makes a point, at the end of video that there is no such thing as "white hat" cloaking.

[2017-05-24 11:51] PaulBiod commented on #196
Ok, I understand.
So what about using microdata to get the content indexed for wowed elements ?

[2017-05-24 13:50] jeremyrschroedercd2 commented on #284
Yes not solved. I removed the Wow animation on the live site - this is just a testing site as I am still not finding the cause. I thought maybe showing you additional example of the problem might help.

I am on also Using chrome Version 58.0.3029.110 (64-bit) on mac

[2017-05-24 13:58] jeremyrschroedercd2 commented on #284
It is just a Chrome V58 issue, I just confirmed is also does this on a PC and doesn't do it on any other old versions of Chrome - fyi, guessing chrome may have dropped support a CSS3 parameter wow might be using.

[2017-05-25 02:15] dnk588 commented on #284
Yes, you are right, on previous versions of chrome everything worked perfectly, just recently this problem started to appear.

[2017-05-29 22:43] MJones68 commented on #33
adding visibility: hidden;  Worked on desktops but it will not display at all on a mobile device for me.

[2017-05-29 22:45] contempoinc commented on #33
Use this:

visibility: hidden !important;

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

On Mon, May 29, 2017 at 3:43 PM, MJones68 <notifications@github.com> wrote:

[2017-05-29 23:09] MJones68 commented on #33
It still doesn't show on a mobile device, thanks for the suggestion though!

[2017-06-02 09:19] pantaluna commented on #284
I am using "animate.css": "~3.5.2", with "wowjs": "~1.1.2" and having exactly the same issue but only when using the annotation "wow fadeInUp" and somehow it does not happen every time you load the page (timing issue?). The sections with annotations "wow slideInLeft" and "wow slideInRight" animate correctly.
I guess this is an issue in animate.css and not wowjs. No idea how to "debug" css animatio

[2017-06-08 21:51] JoaoPedroXD opened #291 "Integration problem with MDL (Material Design Lite)"
Dear,

I would like to know how I can work with **WOW.js** along with **Material Design Lite** (**MDL**), as I have been trying for weeks and I have not made any progress without having to completely remove the layout.

Follow the **code**:

`<!DOCTYPE html>

<html>
    <head>
        <title>U@O Nome - Início</title>
        <link rel="icon" type="image" href="imagens/logo_reduzida.png"/>

[2017-06-12 23:30] JoaoPedroXD commented on #214
I was able to solve my problem with the code:
`wow = new WOW(
            {
                boxClass:     'wow',      // default
                animateClass: 'animated', // default
                offset:       0,          // default
                mobile:       true,       // default
                live:         true,        // default
                scrollContainer: '.mdl-layout__content'

[2017-06-13 16:08] JoaoPedroXD commented on #291
I already did it, thank you!

[2017-06-15 12:49] QuadDepo opened #292 "ReactJs with WoW"
Hey all,

im trying to get wowjs to work with my react app.
Anyone have an idea how?

im trying this
`import WOW from 'wowjs';
const wow = new WOW.WOW();`

and then after my api call
`  getProjects(){
    axios.get('api')
  .then((response) => {
    console.log(response.data);
    this.setState({projects: response.data});
    wow.sync();`

i getting this error:
`typeError: Cannot read property 'no

[2017-06-18 11:44] QuadDepo commented on #292
WOW i finally got it working

[2017-06-18 11:44] #292 closed

[2017-06-18 11:45] QuadDepo commented on #234
@adammoisa you still need help to get it working?

[2017-06-20 13:38] #191 closed

[2017-06-25 13:26] SlalomUXMan commented on #247
To get these scroll animations working in SharePoint, there are 3 things you need to do:

First, set the scroll container in the wow.js settings:

      scrollContainer: '#s4-workspace'

Next, hijack the height SharePoint wants to put on s4-workspace:

	$('#s4-workspace').css('height','auto !important');

Finally, add this to your CSS file:

#s4-workspace {
	overflow-x:hidden;
	visibility:hidden;

[2017-06-29 21:28] dbledayr commented on #284
I had this same issue for when a parent is animated and the contents are absolutely positioned (e.g. when you are "perfectly" centering content in a block or similar. So far it appears adding an appropriate z-index to the content that is having the issue resolves said problem.

[2017-07-02 22:36] FrenchMajesty commented on #234
I have the same question.

[2017-07-03 06:39] VayneHao commented on #234
@johhansantana  yeah. I have the same question .my code works when  I use the following.
 import WOW from 'wowjs/dist/wow.js';
componentDidMount() {
    const wow = new WOW();
    wow.init();
  }
But.I get WOW.js cannot detect dom mutations, please call .sync() after loading new content.
How do I slove the question?

[2017-07-05 14:26] jeremyrschroedercd2 commented on #284
So I noticed that Chrome just updated automatically for me and I no longer see the issue. The issue has _at times_ be really hard to replicate so not 100% the update fixed it but thinking it did. Can any one else confirm their issue has been resolved with the latest update?

[2017-07-06 21:39] pantaluna commented on #284
@jeremyrschroedercd2 yes it works fine now in Chrome Version 59.0.3071.115 (Official Build) (64-bit) for Windows 10

[2017-07-07 07:50] key60529 commented on #176
is this still working on? since the last reply is from 2015, and I found this issue on small screen when I'm using delay to the items that on the same sequence...

[2017-07-13 02:19] simsketch commented on #46
Thanks Ali-Alzantot...this is a really simple drop-in.

[2017-07-13 13:29] meebwolf commented on #142
Probably not very elegant - but here is what I do in angular

[code]

[2017-07-15 22:30] nunosoares27 commented on #292
QuadDepo how do you solve the problem?

[2017-07-16 14:23] QuadDepo commented on #292
I called wow.sync after i get a success on my api call

[2017-07-19 20:37] #274 closed

[2017-07-21 01:51] sallespro commented on #234
tried to browserify `dist/wow.js` and
[code]
but it logs
`e.WOW is not a constructor`

[2017-07-26 02:52] phanthinh commented on #234
The same question

[2017-07-26 10:30] FrenchMajesty commented on #234
Ok so what I did to get it working is to include the .js plugin in the <head> of my index.html:
`<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>`

And in my component:
`
componentDidMount() {
        new WOW().init()
}
`

[2017-07-27 07:43] talbotchad commented on #285
Hi There

Has anyone had any luck resolving this?
I'm experiencing the same issue

thanks!

[2017-07-27 08:39] remi-lebigre commented on #285
Hello talbotchad,

Here is what I used:
[code]

Add this function on `onload` attribute on your iframe:
[code]

[2017-07-31 09:20] rbloone commented on #183
I have exactly the same issue, any suggestions on how to fix that?

[2017-08-01 14:55] Saloed123 commented on #153
1)service Win
import {Injectable} from '@angular/core';

function _window(): any {
  // return the native window obj
  return window;
}

@Injectable()
export class WindowRef {

  get nativeWindow(): any {
    return _window();
  }

}

2)call in component
constructor(private winRef: WindowRef) {
    winRef.nativeWindow.WOW().init();
  }

[2017-08-02 16:26] joha78 opened #293 "WOW and Polymer"
Hi! It's probably not an issue, but I can't figure out how to make WOW work together with polymer. Maybe do you have an hint for a working example? That would be a great help.
Thank You,
Jörg

[2017-08-03 15:06] Yarik91 commented on #185
just add "animated" class to your svg elements

[2017-08-03 19:41] monkeymonk commented on #234
Doing
[code]

Worked for me! ;-)

[2017-08-05 21:09] gelinger777 opened #294 "Android 4.2.2 Problem with Texts waving"
Hi there, we had recently issue on the Android device that when wow is on, and  you stop page , the texts are like swimming up and down constantly... Did you had this?

[2017-08-06 00:34] gaboesquivel commented on #252
the module exports an object, the WOW constructor function is inside the returned object.

`const WOW = require('wowjs').WOW`

[2017-08-07 00:37] lonerunner opened #295 "Animations works only on visible area, not on overflow scroll (with iscroll and fullpage.js)"
So i am using WoW,js alongside with animate.css, fullpage.js and iscroll.js

What i am making here basically is page with sections that are full height, i use fullpage.js to make sections full height, and when i scroll between sections i use wow.js to make animations on each section.

The problem here is that some sections are longer than browser viewport and for that i use iscroll.js and overflow

[2017-08-15 18:45] virzak opened #296 "Chrome Mobile - Window scrolls up by itself on animation + minimalist example"
As soon as you scroll down to an animation the window jumps up by itself.
You can also reproduce this in chrome desktop with devtools emulating mobile.

This doesn't happen in firefox mobile or otherwise.

Here is an example URL: http://test.zomp.com/wowjs.html

`
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>WOW bug</title>
</

[2017-08-21 12:24] Andrey7287 commented on #185
Thx u, it`s solve problem!

Did u make pull request ?!

[2017-08-21 14:37] xHeinrich commented on #252
window.WOW = require('wowjs').WOW worked for me

[2017-08-21 14:59] ruchern commented on #252
[code]

Perhaps this might work too.

[2017-08-24 03:09] marionava opened #297 "Wow not working whit rd-parallax"
Hi, I'm using Wow with rd-parallax and it is not working well. If I retire the class "rd-parallax" from the HTML '<section>', everything with wow works ok., but I want both effects (parallax and wow). Could you help me to fix this?

[code]

[2017-08-25 09:34] Yarik91 commented on #185
@Andrey7287 no, sorry , I'm a newbie in github

[2017-08-31 17:09] Avivshn opened #299 "trigger a function when element shown"
hello.
i want to trigger a function when a specific element is shown..
i did see this one :
		function afterReveal(el) {
			el.addEventListener('animationend', function () {
				alert("some text");
		});
	}
	new WOW({ callback: afterReveal }).init();

but this is work for all the elements.. i want to detect when a specific element is shown.
thank you for your help

[2017-09-01 10:38] Lorengamboa commented on #193
im exactly struggling with the same problem

[2017-09-07 09:36] asadsaeed opened #300 "Text become invisible if rotate mobile screen horizentaly"
I have applied animation on a text, it's working fine on every device except horizontal mobile screen. I have spent a lot of time but no trick is working  for me. However i experienced that if i scroll screen to a specific position it's work fine . This only happening for horizontal mobile screen.

[2017-09-09 06:08] gohilinfotech commented on #34
it's not working on mobile device please help me

[2017-09-09 14:40] DDiran commented on #165
How did you solve this? I have done the same, and it's not working - the WOW.js file **IS** reference correctly and works.

[2017-09-13 14:42] djalma81 opened #301 "Issue with wow.js on safari 10.1.2"
Hi All,

I'm using wow.js in wordpress but I've an issue in Safari, When the page load the first animation start blinking and they are not played like I want. I'm using chrome and firefox without any problem.

Any solution for that?

Thanks in advance

[2017-09-18 08:04] EduardoBarrero opened #302 "Too much delay for initially-hidden elements"
Hi folks!
I'm trying to get a list of items appearing sequentially, so I've set the data-wow-delay="{{$index * 0.15}}s" for each one.
This work nicely for the items shown on viewport initially (before the user scroll down) but not for the hidden items because the delay is applied since each item enters in the viewport area.
So for example, if a initially-hidden element has a delay of 3 seconds, it

[2017-09-28 06:35] supriyaayare commented on #175
Hi please help me with Wow.js plugin.
 i am using Wow.js with [http://www.jqueryscript.net/layout/App-Style-One-Page-Scroll-Plugin-With-jQuery-AppLikeOnePage-js.html](http://www.jqueryscript.net/layout/App-Style-One-Page-Scroll-Plugin-With-jQuery-AppLikeOnePage-js.html) this plugin.
After including this plugin..when i load page..first i see the wow effects on second section of page after that page

[2017-09-28 13:31] giovaANTO opened #303 "Problem with Safari 11.00"
Hello, since i've upload my browser to safari 11.00 i've seen that all the elements that have wow  + animation class doesn't show up.

This bug shows up only in the safari browser, in the others ( like Chrome, Mozilla, Opera etc..) the problem doesn't persists.

If i remove the classes the item are displayed normally.

code works well in safari < 11.00 (like 10.12).

Someone have the same situatio

[2017-10-06 04:32] #271 closed

[2017-10-07 23:01] dpmango commented on #261
same problem. Any solution yet?

[2017-10-08 19:19] macolo commented on #234
This should work out of the box with Webpack:

[code]

[2017-10-09 10:01] hardenrahul commented on #303
yes i have the same issue please someone get it solve as soon as possible.

[2017-10-14 16:21] 01Kuzma commented on #166
Hi!
In React.js I initiate this plugin with this code:
[code]

But I cannot get rid of these warnings:
[code]
They are showed in all browsers. I'm not adding something dynamically

How could it be fixed?

[2017-10-14 16:31] 01Kuzma commented on #234
Hi!
In React.js I initiate this plugin with this code:
[code]

But I cannot get rid of these warnings:
[code]
They are showed in all browsers. I'm not adding something dynamically

How could it be fixed?

[2017-10-18 15:21] ststaynov commented on #303
+1

[2017-10-19 09:08] superdevelo commented on #179
Не работает wow- появление контента при скролле со свойством overflow:auto

[2017-10-19 17:49] vitorarantes commented on #234
@01Kuzma

try this:
[code]
worked for me...

[2017-10-20 09:37] phanthinh commented on #234
I have resolved it

[2017-10-20 09:59] 01Kuzma commented on #234
@vitorarantes, nice! Works!

[2017-10-26 10:52] V1cHu commented on #196
Has a fix for this been implemented ? My website's SEO is badly affected due to this.

[2017-11-02 19:13] busheezy commented on #166
It would be nice to be able to disable these warnings. I'm using this in Vue without any issues but the errors are ugly for production.

[2017-11-10 00:55] curtiscyoung opened #304 "wowjs animations flashing quickly instead of animating"
Hi, when I try to give an element an animation by giving it a wow className, I want the header to fade in, the element simply flashes for a moment and then is finished.  It's like it recognizes there is an animation there but simply flashes instead of fading in or whatever animation I'm using.  Not sure what to do, I'm building in React and I have wowjs in my dependancies, installed with npm, I'm

[2017-11-13 12:02] kaganvmz commented on #303
I have too +1

[2017-11-21 16:01] #151 closed

[2017-11-25 08:16] jaypatel8110 opened #305 "Passing data attributes through jquery"
Not able to pass attributes like delay duration from jquery.
For example , I tryed   $('element').data("wowdelay","2s");  but not working for me.
what to do about this?

[2017-11-29 05:27] carlosHerz commented on #233
You can also change .call(this) to .call(window) (wow.js last line). Found the solution here https://foundation.zurb.com/forum/posts/46574-how-to-add-js-library-from-bower

[2017-11-29 17:29] rajruprai commented on #196
Hi all,

One idea could be to delay the adding of the Animate CSS class until the element is within the viewport. From what I can tell, Wowjs makes the element have visibility: hidden applied to it. This is what causes the issue.

An alternative would be to not add the wow class to the element, instead add the animated class and then as the element is in the viewport then use jQuery or some other

[2017-12-01 09:50] gleenk opened #306 "Chrome problem, wow fade casually (only while pressing F5 for refresh)"
I found a common bugs, discussed in previous issues. On latest chrome versions wow elements appear correctly while opening a page from address-bar, but if you refresh the page it breaks wow loading. Why that?
PS: no overflow hidden elements or similar.

[2017-12-03 01:59] danielgoodwin97 commented on #196
I've found a solution. I've tested this and it works.

Fix
[code]

Basically just don't initialize wow.js until the person has started scrolling. I've tested this with the 'fetch as google' tool and this works.

credits to @robbie-thompson

[2017-12-04 01:02] PaulBiod commented on #196
So bad that this doersn't work for wow elements on the top of page

[2017-12-04 07:51] danielgoodwin97 commented on #196
@PaulBiod Why would you need a wow element at the top of the page? The user would already be able to see that without scrolling? Could you not just put the 'animated' class on it with the animation that you want so it plays on load?

[2017-12-04 10:30] PaulBiod commented on #196
@danielgoodwin97 Well yes, I had my logo on wow class so it comes from the left

[2017-12-04 17:54] rajruprai commented on #196
@danielgoodwin97 that is exactly what i have been doing. Since the user will typically see the first two rows of my page either on mobile, tablet, or desktop, I only applied your suggestion once the user has scrolled passed those.

[2017-12-11 12:05] goldy-suryan commented on #234
try this:
import { WOW } from "wowjs/dist/wow";

new WOW({
      live: false
    }).init();

[2017-12-14 12:11] Relsoul opened #307 "bug in ios11, is very serious bug,input not enter"
ios 11.2.1  , all input boxes can not be entered。If you want to enter a long press enter, I suspect  the visibility css attribute is a problem, or the animation is a probiem

[2017-12-15 07:55] Relsoul commented on #307
is other problem. not wow.js

[2017-12-15 07:55] #307 closed

[2017-12-23 00:08] Sydney-o9 commented on #252
# With require

[code]

[2017-12-25 01:58] benjino opened #308 "animate span?"
Does this work on `<span> or <a>` tags?
I am not able to get it to work on either.

[2017-12-30 23:25] el-rotny commented on #155
I can confirm what @Wtower posted with no need to do an extra steps. Using Gulp to compile this project.

[2017-12-31 13:00] ncamaa commented on #261
same problem. Any solution yet?

[2018-01-09 07:40] Farazks commented on #295
sdasdsd

[2018-01-11 06:46] farooq07 commented on #306
Same issue for me . sometimes the animation reveal late

[2018-01-15 07:19] farooq07 opened #309 "wow.js with animate.css load content late"
wow.js not working properly when i load the page for the first time and scroll a little fast the content will not show and i have to wait around 2 second to load the content. i dont know whats the issue every thing is working fine for me when i start the project.

[2018-01-16 17:06] WebCOLT commented on #302
I'm trying the same but you will need to add an if/else statement to do that, I could not find a solution on the library itself.

[2018-01-17 07:24] evenloooo commented on #196
@danielgoodwin97 Thank you! You saved my day.

[2018-01-21 07:24] niteshluharuka commented on #286
Any update to this?

[2018-01-25 10:10] ashleydance commented on #33
To have this work on mobile wrap it in a media query like:

`@media( min-width: 768px ) {
	.wow {
		visibility: hidden;
	}
}`

[2018-01-28 02:09] TanvirAmi commented on #252
To Leverage Undefined Values make sure that your DOMm is ready and likely when a dependent variable is not defined. When the page is loaded and ready, and likely when a dependent variable is already defined.
For this use `$(document).ready(function() {
    if ($.fn.init) {
        new WOW().init();
    }
}`

[2018-02-06 09:19] phifa commented on #264
anybody having a bugfix?

[2018-02-07 19:06] neilmario70 commented on #247
Thank you SlalomUXMan!!! You saved me a lot of time. I am using SP2013 and just changing the scrollContainer worked for me. If I added anything else the page would be a blank page.

[2018-02-09 16:52] RForster92 opened #310 "When navigating back through a page on iOS the animations never trigger"
Not sure if this is related to issue #303 but I have experienced that when on later versions of iOS, when navigating through a website which uses this, and going back a page, sometimes the page does not ever trigger .wow animations to the extent where scrolling up and down does nothing and am just left with a white screen.

[2018-02-11 17:42] vsilva007 commented on #196
I logged in to thumbs you up @danielgoodwin97

[2018-02-17 17:45] adamr415 commented on #281
I am having similar issues in ie11 and bootstrap 4.

[2018-02-21 17:54] NicholasG04 opened #311 "Duplication of animations"
Seems to be an issue on a client website, https://scattervolt.com where the animate.css library loads before the animations with wow.js do. Any fix?

[2018-02-26 11:23] padhyakash commented on #246
`window.addEventListener('scroll', function (e) {
        if ($(window).scrollTop() <= 50) {
            $('.wow').removeClass('animated');
            $('.wow').removeAttr('style');
            new WOW().init();
        }
    });`

It worked for me on scroll but in local machine only but won't work in dev Server

[2018-02-26 11:51] padhyakash opened #312 "wow.js Scroll back not working on server"
`window.addEventListener('scroll', function (e) {
        if ($(window).scrollTop() <= 50) {
            $('.wow').removeClass('animated');
            $('.wow').removeAttr('style');
            new WOW().init();
        }
    });`

I have tried this to get the animation when scroll back, Its working fine in local machine but won't work in Server.

[2018-02-27 14:08] ngouy commented on #187
do not forget to import css files

[2018-02-27 14:08] ngouy commented on #304
dont forget to import css files

[2018-02-28 02:58] sonans202 commented on #129
thank you @patrickng & @jrmlstf for the solutions! Its worked for me perfectly. Arigatou!
For those who still cant get the code to work. Try replacing the e.prototype.isVisible function inside the wow.min.js with this:

`e.prototype.isPositionFixed = function(element) {
		  	var position;
            position = getComputedStyle(element).position;
            while (element.parentNode && element.pa

[2018-03-07 15:45] rando128 commented on #290
Same issue with Chrome 60.0.3112.78.

The element is visible before the animation gets triggered

[2018-03-08 11:36] r3dh4r7 commented on #231
Improved upon solution provided by @carlos-kryzalis

<style> .wow{ opacity: 0; } </style>
<script> function afterReveal( el ) { el.addEventListener('animationstart', function( event ) { $('.wow').each(function(){ $(this).css('opacity',1); }); }); } new WOW({ callback: afterReveal }).init() </script>

[2018-03-14 13:09] n-nidhu commented on #33
tried this and also callback but not working... Please have a look @attilaolah
http://dev.webglanz.com/

[2018-03-15 07:59] rubenmromero commented on #196
@danielgoodwin97 In what file I should include the block of code that you have proposed? I want to use it in a wordpress with the Zerif Lite theme enabled.

Thanks in advance!

[2018-03-15 15:10] robbie-thompson commented on #196
@rubenmromero It can go anywhere, as long as it's after jQuery & wow's scripts have been called.

[2018-03-19 16:59] kirnchakraborty opened #313 "Wow firing when at top of screen"
If an element is display:none and the wow is inside and you load the page at top of screen or scroll to the top it triggers the animation any ideas on how to fix it

[2018-03-19 17:02] kirnchakraborty commented on #289
is the div display:none?

[2018-04-04 18:46] oelbaganwg commented on #33
OMG I was thinking of this for so long. I finally searched it and landed here.

Perfect! even from 4 years ago

[2018-04-05 09:26] gleenk opened #314 "Uncaught TypeError: b.className.replace is not a function"
Everything is working but i get this console error:

`Uncaught TypeError: b.className.replace is not a function
    at e.resetAnimation (wow.min.js?ver=4.9.5:2)
    at HTMLAnchorElement.<anonymous> (wow.min.js?ver=4.9.5:2)
e.resetAnimation @ wow.min.js?ver=4.9.5:2
(anonymous) @ wow.min.js?ver=4.9.5:2
`
How to fix that?

[2018-04-06 00:41] rodolfofranco commented on #296
Im having the same problem, solution i found so far is to disable animation when viewport is mobile. Not the one desired though.

[2018-04-10 07:35] mahakala commented on #309
i have the same "problem". i "solved" it by setting offset to -200 - but maybe someone has another hint

[2018-05-06 16:36] xDiezz commented on #269
+1

[2018-05-10 23:05] anshap1719 opened #316 "Can't read property requestAnimationFrame of undefined"
Hi, my implementation is quite simple. I use this as a js file and use gulp to minify and concatenate this with other files. Anyway, the default implementation of wowjs throws the error "Can't read property WeakMap of undefined". I looked around and found that replacing `this` with `window` in the `.call()` method will fix the issue and it did, but after this, it throws another error mentioned in

[2018-05-11 02:10] anshap1719 commented on #316
Apparently, the issue was not related to wowjs. Sorry for creating this issue. Closing.

[2018-05-11 02:10] #316 closed

[2018-05-15 13:29] chris-ruskai opened #317 "Deprecated Function"
WOW makes use of deprecated function getPropertyCSSValue() on lines 230 and 231 of wow.coffee. We are considering purchasing the extended commercial license for our company, but are concerned about this function being removed.

https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/getPropertyCSSValue

[2018-05-22 09:23] studyjavaee opened #318 "Uncaught TypeError: Cannot read property 'WeakMap' of undefined"
when I use wow.js, the console always remind me that 'WeakMap' is undefined, can you help me to solve this problem? THX
![error-msg](https://user-images.githubusercontent.com/12596381/40353731-c60f6be2-5de4-11e8-85f7-e47383a7f092.png)

[2018-05-31 19:43] charlyanderson commented on #309
I am having the same problem but unsure why. It seems to be hit and miss, some of it loads correctly and some of it gets stuck for a few seconds.

[2018-06-11 08:20] anybodesign opened #320 "Accessibility issue"
Hi,
Using CSS `visibility: hidden` is causing an accessibility issue. Hidden elements are not accessible to keyboard navigation and screen reading equipment. Could be replaced by `opacity: 0`.
:)

[2018-06-18 13:38] bocharsky-bw commented on #166
Solved with `live: false` since do not use any dom mutations:

[code]

[2018-06-19 20:40] #311 closed

[2018-06-19 21:18] recruiters-websites opened #321 "WOW animation"
For some reasons the animations only seem to work on the homepage but not on the subpages.

http://duvarigroup.flywheelsites.com

[2018-06-21 18:04] darkwd commented on #321
![screenshot_260](https://user-images.githubusercontent.com/16074281/41735923-ad3bf286-7593-11e8-99b1-179524d2ce7b.jpg)

look at screenshot above. when i try to open page "WHO WE ARE", browser try to get wow lib wrong way, because you write wrong path to lib.

U wrote relative path and browser try to get lib from

...  **who-we-are**/WOW-master/dist ...

[code]
but u need to get lib from
.. WOW-ma

[2018-06-25 14:00] recruiters-websites commented on #321
This fixed the problem! Thanks so much!

[2018-06-25 21:17] karamanliev opened #322 "Trigger WOW().init() only on specific element"
Hi, I have 2 rows with animations on every column in them, one is visible one is not. I have a button which triggers their visibility on click. I want to make the animations trigger every time the button is clicked. What I have is:
`$('.view-more').click(function() {
  new WOW().init();
  $('.row').toggleClass('hidden');
});`

Problem is that it resets every other animation. Is there a way to trig

[2018-07-02 20:02] nickdefelice commented on #309
I am noticing the same thing on chrome on Mac.

[2018-07-03 13:35] Xayer commented on #196
@danielgoodwin97 this doesn't appear to be working anymore for some odd reason. Can you confirm this?

[2018-07-15 01:35] GeeHM commented on #176
would also love to know if there is any progress related to this

[2018-07-18 06:48] yueming-Chen commented on #305
Use other fucntion would be right.

[code]

[2018-07-31 14:17] kaleem7832 commented on #46
i want to show animation for list and problem is all my list **contained in viewport**.
Now when i load the page, all items animate at once, but i want the items to animate one after the other.

Note: need animation of items one after the other without depending on scroll.

[2018-07-31 14:41] kaleem7832 commented on #176
is wow-sequence-delay implemented?

[2018-08-10 19:57] alexrmacleod commented on #196
@danielgoodwin97 @robbie-thompson is your solution still working? Will implement site-wide if so

[2018-08-10 20:06] alexrmacleod commented on #196
What about this?

[code]

[2018-08-15 05:13] djcowan commented on #46
for users of Bootstrap carousel…
`.on( 'slide.bs.carousel' , function() {
            if( $( '.my-wow-element' ).hasClass( 'wow' ) ) {
                $( this ).removeAttr( 'style' );
                new WOW().init();
            }
            // end
        } )`

[2018-08-15 10:31] captainscorch commented on #196
@alexrmacleod I can confirm this is still working just fine for me! As long as you haven't scrolled everything is visible and once you start scrolling "visibility:hidden" will be triggered.

[2018-08-20 11:36] emmadalby opened #323 "How to use wow to activate css animations on scroll?"
I have some percentage circles on my page and they are further down the page as a lot of content is above it - e.g;
<div>lots of content pushing the circles down the page so that you can't see them</div>
<div>circles I'm trying to animate on scroll</div>

I would like to know how to use wow to be able to activate the circle's animation when I scroll down to them as at the moment they are activatin

[2018-08-21 21:18] nomiDesigns commented on #230
@jlmakes Thanks a lot. BTW, how can I use it for a specific element? It triggers now for all the elements on the page right now.

[2018-08-21 21:34] jlmakes commented on #230
@nomiDesigns You can wrap the whole thing in an `if` statement, so it only applies to specific elements. For example, let’s say your specific elements have the class `.trigger` on them, e.g:

[code]

I don‘t have a working example, but hopefully my idea was clear.

[2018-08-21 21:34] jlmakes commented on #230
@nomiDesigns You can wrap the whole thing in an `if` statement, so it only applies to specific elements. For example, let’s say your specific elements have the class `.trigger` on them, e.g:

[code]

I don‘t have a working example, but hopefully the idea was clear.

[2018-08-21 21:35] jlmakes commented on #230
@nomiDesigns You can wrap the whole thing in an `if` statement, so it only applies to specific elements. For example, let’s say your specific elements have the class `.trigger` on them, e.g:

[code]

I don‘t have a working example, but hopefully the idea was clear.

[2018-08-21 22:39] nomiDesigns commented on #230
@jlmakes Worked like a charm. Thanks

[2018-08-27 09:07] dzeini opened #324 "Wow not works when html tag have height 100%"
Wow not works when html tag have height 100%:
`html {
  height: 100%;
}`

Design of the page needs above style and removing css is not a proper solution.

[2018-08-30 01:41] CharlyJazz commented on #233
@graingert  How i can use that snippet? I have this error when try: Module not found: Error: Can't resolve 'imports' in ''......''

[2018-09-07 13:02] wiched commented on #234
This works for me:

[code]

[2018-09-09 15:52] miserenkov commented on #324
I have the same problem

[2018-09-20 11:13] ahmed3baid opened #325 "Horizontal Scroll"
Hello,
I have a horizontal scroll website. How can I reveal animations on horizontal scroll.
Many Thanks

[2018-10-01 21:52] lsterling03 commented on #320
I have this issue as well. Screen readers skip over content that has visibility hidden.

[2018-10-04 12:05] qwerty1802 opened #327 "Изменения елементов не зависящих от wow"
Как только подключаю wow.js и инициализирую его, то шапка сдвигается в право где то на 20-30px
<header class="header-wripper ">
		<div class="container">

			<nav class="row">
				<div class="logo  col-lg-2 col-xl-3">
					<img src="{{$assets()}}/img/logo.png" alt="">
				</div>
				<div class="button-menu row">
					<button class="hamburger hamburger--squeeze" type="button">
						<span class="ha

[2018-10-05 02:17] pemkaleo opened #328 "contents load before animation runs"
Content that is intended to fade in using WOW is visible for split sec before disappearing and then fading in. Is this normal? I notice after that the template I got that uses WOW does the same thing on its demo page.

If WOW is just for content that is off screen and scrolled to that I understand but template used it for content at top of page and I like the effect if I can stop the pre-animation

[2018-11-04 13:29] vinyldarkscratch commented on #322
+1 -- I'm implementing smooth loading into my website, and it would be nice to initialize WOW.js on only the new content.  (Sadly the `live` feature doesn't work as intended, and creates bugs on other parts of the site.)

[2018-11-07 07:37] MichaelHabib commented on #328
you need to hide the elements you want to animate. add
`.wow {
  visibility: hidden;
}
`
should do the trick.

[2018-11-07 07:39] MichaelHabib commented on #323
I assume you already fixed it ? It seems to be working as expected : animate the circle when it's in view .

[2018-11-07 12:48] emmadalby commented on #323
Yeah, I've figured it out now. Thanks though!

[2018-11-07 12:48] #323 closed

[2018-11-07 17:15] pemkaleo commented on #328
Perfect, thank you. Looks right now.

[2018-12-01 02:32] CharlyJazz commented on #233
Why close this issue? What the hell, this still dont work.

[2018-12-01 08:04] notiv-nt commented on #233
require('imports?this=>window!js/wow.js')

[2018-12-01 12:15] CharlyJazz commented on #233
The software needs to evolve.

[2018-12-01 12:19] notiv-nt commented on #233
WOW dead, forget
![image](https://user-images.githubusercontent.com/10743009/49328156-802d4380-f57c-11e8-887a-b46b50e769c5.png)

[2018-12-04 11:40] gleenk commented on #314
Still have that problem, it generates repeated errors in console.

[2018-12-05 20:08] mattsonnhalter commented on #33
I got here from this stack overflow post. https://stackoverflow.com/questions/23531064/wow-js-happens-on-page-load-and-not-on-scroll

Glad there is a solution!

[2018-12-05 20:09] mattsonnhalter commented on #328
Worked for me!

[2018-12-10 07:46] alexplusde commented on #84
Anyone has found a solution for this?

[2018-12-20 01:10] VenkataJanapareddy commented on #234
[code]

[2018-12-25 07:50] muhamed87 opened #329 "Update after initialize"
Hi Guys/Girls,

I need to update wow js after initialization, is there any thing like the following:

For initialize:
new WOW().init();

What about updating the options like that:
WOW(//option update).update();

Any one faced that before or this feature is not available?

[2019-01-10 18:42] mdaintondcc opened #330 "Accesibility / tabbing issue"
Hi

I've been testing one of our sites for acccessibility and in particular how screen readers or people using a keyboard navigate. An issue that came up was that if someone tabbed to an element or link that wasn't immediately visible, the browser or screen reader would skip straight past it and on to the next visible element or link.

Looking at the .js code I noticed that you are using a default

[2019-01-15 14:22] douglace commented on #119
I use this solution
`@media screen and (max-width: 800px) {
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
}`

[2019-01-22 16:42] Mutazalhawash commented on #34
it seems that after updating the trigger `mobile: ` false is the default value always and forever.
i am trying to activate it on mobile but it is not working

[2019-01-26 03:19] jhoanborges commented on #252
This works like a charm

[2019-02-06 11:24] matias3k6 commented on #73
That works for me

[2019-02-13 16:24] SfnElAbbadi commented on #218
I'm having the same issue and I fixed it.
Solution :
add this code to the element that you want to animate: style="visibility: hidden; animation-name: none;"
or you just override wow style :
.wow {
visibility: hidden;
animation-name: none;
}
and you put the animation class Inside animated class.
exemple :
.animated {
//Your animation definition here
}

[2019-02-15 07:12] mhebrard opened #332 "Callback not working"
I use wow to animates few element on my page with success.

I wish to use wow to trigger other js functions when item are visible.
I try to use callback option but it doesn't seams to work

[code]
the animations are triggered, but nothing is logged